openapi: 3.0.3
info:
  title: Campaign Monitor API
  description: OpenAPI specification covering the Campaign Monitor RESTful API. Generated from the source of CampMon.RESTfulAPI and CampMon.RESTfulAPI.Transactional ASP.NET MVC projects. Routes are sourced from each project; request bodies and response models are inferred from controller signatures and the service-layer methods they call.
  version: 3.4
servers:
- url: https://api.createsend.com/api
  description: Production
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: basic
      description: HTTP Basic auth with the account API key as the username and any non-empty string as the password.
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.createsend.com/oauth
          tokenUrl: https://api.createsend.com/oauth/token
          scopes: {}
  schemas:
    Result:
      type: object
      properties:
        Success:
          $ref: '#/components/schemas/Result'
        DatabaseError:
          $ref: '#/components/schemas/Result'
        Code:
          type: integer
          format: int64
        Message:
          type: string
      x-data-contract-name: Result
    DetailedCampaignWithWebversion:
      type: object
      properties:
        WebVersionURL:
          type: string
        WebVersionTextURL:
          type: string
        Tags:
          type: array
          items:
            type: string
      x-data-contract-name: Campaign
    RESTFulDetailedCampaignCollection:
      type: array
      items:
        $ref: '#/components/schemas/DetailedCampaignWithWebversion'
    PagedResult_RESTFulDetailedCampaignCollection_DetailedCampaignWithWebversion:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/RESTFulDetailedCampaignCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    BasicWorkflowModel:
      type: object
      properties:
        ListID:
          type: string
        JourneyID:
          type: string
        Name:
          type: string
        Status:
          type: string
        EmailCount:
          type: integer
          format: int32
        EmailsSent:
          type: integer
          format: int32
      x-data-contract-name: Journey
    BasicWorkflowCollection:
      type: array
      items:
        $ref: '#/components/schemas/BasicWorkflowModel'
    PagedResult_BasicWorkflowCollection_BasicWorkflowModel:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/BasicWorkflowCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    ClientAccessEnum:
      type: string
      enum:
      - None
      - Reports
      - ManageLists
      - CreateCampaigns
      - DesignAndSpamTest
      - ImportSubscribers
      - ImportDesignFromURL
      - SendCampaigns
      - SubscribersInReports
      - ImportBuildTemplates
      - AdministerPersons
      - AdministerAccount
      - ViewIdentity
      - Transactional
      - Automation
      - ViewTransactional
      - SendTransactional
      - Standard
      - Full
      - Administrator
    Currency:
      type: object
      properties:
        Code:
          type: string
        LongName:
          type: string
        MajorSymbol:
          type: string
        MinorSymbol:
          type: string
        MinorShortSymbol:
          type: string
    PricingCategory:
      type: string
      enum:
      - None
      - Free
      - Basic
      - BasicWithNoLimit
      - Unlimited
      - Premier
      - FennelDoNotUseStarter
      - FennelDoNotUseEssentials
      - Advanced
      - FennelDoNotUseGrowth
    ExternallyBilledAccountDetails:
      type: object
      properties:
        IsAccountBilledExternally:
          type: boolean
        PricingCategory:
          $ref: '#/components/schemas/PricingCategory'
    DiscountReason:
      type: string
      enum:
      - NoDiscount
      - AgencyDiscount
      - FriendDiscount
      - GoodCustomerDiscount
      - AdvertiserDiscount
      - GetFeedbackCustomer
      - SalesOutOfAppInvoicing
      - SalesInAppInvoicing
      - SRInAppInvoicing
      - Promocode
      - NonProfit
    PartnershipStatus:
      type: string
      enum:
      - Pending
      - Approved
      - Denied
      - Unspecified
    PartnershipDetails:
      type: object
      properties:
        PartnershipStatus:
          $ref: '#/components/schemas/PartnershipStatus'
        AgencyWebsiteUrl:
          type: string
        DenyCount:
          type: integer
          format: int32
        DenyCountDescription:
          type: string
    PlanIDForDiscount:
      type: string
      enum:
      - None
      - Payg
      - Basic
      - Unlimited
      - Premier
      - FennelDoNotUseStarter
      - FennelDoNotUseEssentials
      - Advanced
      - FennelDoNotUseGrowth
      - AllExcludingAddOns
      - Sms
      - MachineClicks
      - EngagementSegments
      - LiveContent
      - WebsiteBuilder
      - AllIncludingAddOns
      - AllIncludingAddOnsButExcludingSms
    DiscountType:
      type: string
      enum:
      - None
      - PartnerDiscount
      - NonPartnerDiscount
    DiscountDetails:
      type: object
      properties:
        NoDiscount:
          $ref: '#/components/schemas/DiscountDetails'
        ExternalBillingDetails:
          $ref: '#/components/schemas/ExternallyBilledAccountDetails'
        DiscountReason:
          $ref: '#/components/schemas/DiscountReason'
        DiscountPercentage:
          type: number
          format: double
        PendingDiscountReason:
          $ref: '#/components/schemas/DiscountReason'
        PendingDiscountPercentage:
          type: number
          format: double
        PendingDiscountID:
          type: integer
          format: int32
        OfferCode:
          type: string
        ExpiryDateUtc:
          type: string
          format: date-time
        DiscountExpiryForDisplay:
          type: string
        DiscountExpiryOfferCodeDateForDisplay:
          type: string
        ExpiryDateBeforeRedemptionUtc:
          type: string
          format: date-time
        PartnershipDetails:
          $ref: '#/components/schemas/PartnershipDetails'
        IsAdmin:
          type: boolean
        PlanIDForDiscount:
          $ref: '#/components/schemas/PlanIDForDiscount'
        WebsiteUrl:
          type: string
        HasPlanSpecificDiscount:
          type: boolean
        PartnershipClass:
          type: string
        PendingDiscountType:
          $ref: '#/components/schemas/DiscountType'
        DiscountType:
          $ref: '#/components/schemas/DiscountType'
        DiscountActivationStatus:
          type: string
        HasPendingDiscountApplied:
          type: boolean
        DiscountPercentageForDisplay:
          type: string
        PendingDiscountPercentageForDisplay:
          type: string
        HasDiscountApplied:
          type: boolean
        PartnershipGranted:
          type: boolean
        ShowDiscount:
          type: boolean
        ShowActivationReminder:
          type: boolean
        DiscountReasonForDisplayWithPrefix:
          type: string
        PendingDiscountReasonForDisplayWithPrefix:
          type: string
        DiscountReasonForDisplay:
          type: string
        PendingDiscountReasonForDisplay:
          type: string
        DiscountReasonForDisplayLower:
          type: string
        PendingDiscountReasonForDisplayLower:
          type: string
        IsFreeAccount:
          type: boolean
        IsBilledOutOfApp:
          type: boolean
        DiscountReasonsToShow:
          type: array
          items:
            type: string
    MarkupType:
      type: string
      enum:
      - Custom
      - PublicBaseRates
      - Percentage
    TieredPaymentRate:
      type: object
      properties:
        RateInCents:
          type: number
          format: double
        TierID:
          type: integer
          format: int32
          description: MonthlySendLimitID (not MonthlyTierID), or CreditBracketID
        UpperBoundInclusive:
          type: integer
          format: int32
        LowerBoundExclusive:
          type: integer
          format: int32
        PricingCategory:
          $ref: '#/components/schemas/PricingCategory'
        SendLimit:
          type: integer
          format: int32
          description: If SendLimit is null, it is because this tier does not have a campaign sending limit
        TransactionalSendLimit:
          type: integer
          format: int64
          description: Gets transactional send limit for "Unlimited" and "Basic with unlimited sends" monthly plans Gets transactional send limit for BasicWithNoLimit, Unlimited, Premier, Essentials or Growth. If null, transactional is not allowed or send limits are aggregated with campaign send limits (SendLimit).
        CreditBracketDescription:
          type: string
        SubscriberRange:
          type: string
        MonthlyTierDescription:
          type: string
    BillingFeature:
      type: string
      enum:
      - None
      - Sms
      - MachineClicks
      - EngagementSegments
      - LiveContent
      - WebsiteBuilder
    AddOnTieredPaymentRate:
      type: object
      properties:
        PricingFamilyID:
          type: integer
          format: int32
          description: Note this is an integer like 1 or 37, not a member of the PricingFamily enum (which has values like 1000 or 37000)
        Currency:
          type: string
        BillingFeatureID:
          $ref: '#/components/schemas/BillingFeature'
        UpperBoundInclusive:
          type: integer
          format: int32
        LowerBoundExclusive:
          type: integer
          format: int32
        RateInMinorUnit:
          type: number
          format: double
        CreditBracketDescription:
          type: string
    PaygPaymentRate:
      type: object
      properties:
        DeliveryFeeInCents:
          type: integer
          format: int32
        DeliveryFeeInDollars:
          type: number
          format: double
        CostPerRecipient:
          type: number
          format: double
        DesignAndSpamTestFeeInCents:
          type: integer
          format: int32
        DesignAndSpamTestFeeInDollars:
          type: number
          format: double
        CreditPaymentRates:
          type: array
          items:
            $ref: '#/components/schemas/TieredPaymentRate'
        AddOnPaymentRates:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/AddOnTieredPaymentRate'
        AllAddOnPaymentRates:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/AddOnTieredPaymentRate'
        BaseCostInCredits:
          type: integer
          format: int32
    MonthlyBillingPaymentStatus:
      type: object
      properties:
        PaymentPending:
          type: boolean
        PaidUp:
          type: boolean
        NotPaidUp:
          type: boolean
        NeverPaid:
          type: boolean
          description: Indicates that the database is in the null or zero state - a monthly payment has never been made on this client
        FirstFailure:
          type: boolean
        SecondFailure:
          type: boolean
        ThirdFailure:
          type: boolean
        FourthFailure:
          type: boolean
        AnyFailure:
          type: boolean
    TransactionalSendStatisticsSummary:
      type: object
      properties:
        BasicSends:
          type: integer
          format: int64
        SmartSends:
          type: integer
          format: int64
        GroupedBasicSends:
          type: integer
          format: int64
        ClientId:
          type: integer
          format: int32
        TotalSend:
          type: integer
          format: int64
    SendStats:
      type: object
      properties:
        CampaignSends:
          type: integer
          format: int64
        Total:
          type: integer
          format: int64
        TransactionalSendSummary:
          $ref: '#/components/schemas/TransactionalSendStatisticsSummary'
    MonthlyPaymentRate:
      type: object
      properties:
        DbID:
          type: string
        ClientID:
          type: integer
          format: int32
        MonthlyPaymentDueDate:
          type: string
          format: date-time
        DayOfMonthWhenFirstStarted:
          type: integer
          format: int32
        CurrentTier:
          $ref: '#/components/schemas/TieredPaymentRate'
        PaymentStatus:
          $ref: '#/components/schemas/MonthlyBillingPaymentStatus'
        TransactionId:
          type: string
        SendSummary:
          $ref: '#/components/schemas/SendStats'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/TieredPaymentRate'
        TotalSubscribers:
          type: integer
          format: int32
        PaidUpMonthlySubscriberCount:
          type: integer
          format: int32
        ApplicableTier:
          $ref: '#/components/schemas/TieredPaymentRate'
        TierBelowCurrent:
          $ref: '#/components/schemas/TieredPaymentRate'
        NextTier:
          $ref: '#/components/schemas/TieredPaymentRate'
          description: NextTier is set by a call to GetActionCost as the tier to which this payment will elevate the client
        BillingPeriodStartDate:
          type: string
          format: date-time
          description: Called when we need to figure out the start date of the current billing Period by going back one month. Doesn't modify the model or save to the database
    ClientPaymentGSTStatus:
      type: string
      enum:
      - NoGST
      - GSTPaidByUserOnly
      - GSTPaidByUserAndClient
    ClientPaymentOptions:
      type: string
      enum:
      - UserPays
      - ClientPays
      - OnMonthlyPlan
      - CanPurchaseCredits
      - Undecided
      - MarkedUp
    UsingDesignerRatesOverrideReason:
      type: string
      enum:
      - NoOverride
      - RequestedByCallingCode
      - NoActivePeople
    BillingOption:
      type: object
      properties:
        DbID:
          type: string
        ClientID:
          type: integer
          format: int32
        AccountID:
          type: integer
          format: int32
        CurrencyDetails:
          $ref: '#/components/schemas/Currency'
        Currency:
          type: string
        MajorSymbol:
          type: string
        MinorSymbol:
          type: string
        CurrencyOrDefault:
          type: string
        IsNativeCurrencyFeatureActive:
          type: boolean
        ShouldShowCurrencyWording:
          type: boolean
        MinorSymbolAbbreviated:
          type: string
        Discount:
          $ref: '#/components/schemas/DiscountDetails'
        OverrideCostInUnits:
          type: object
          additionalProperties:
            type: integer
            format: int32
        AccountCurrency:
          type: string
        MarkupPercentage:
          type: number
          format: double
        MarkupType:
          $ref: '#/components/schemas/MarkupType'
        MarkupDescription:
          type: string
        PaygRates:
          $ref: '#/components/schemas/PaygPaymentRate'
        MonthlyRates:
          $ref: '#/components/schemas/MonthlyPaymentRate'
        IsGSTPayable:
          type: boolean
        IncludeGSTInBaseCost:
          type: boolean
        GSTPaymentStatus:
          $ref: '#/components/schemas/ClientPaymentGSTStatus'
        PaymentOptions:
          $ref: '#/components/schemas/ClientPaymentOptions'
        UsingDesignerRatesReason:
          $ref: '#/components/schemas/UsingDesignerRatesOverrideReason'
        PricingFamilyCategoryID:
          type: integer
          format: int32
    ClientDetail:
      type: object
      properties:
        AccountId:
          type: integer
          format: int32
        ClientId:
          type: integer
          format: int32
        APIClientID:
          type: string
        CompanyName:
          type: string
        ContactName:
          type: string
        EmailAddress:
          type: string
        Country:
          type: string
        TimeZone:
          type: string
        UtcOffset:
          type: integer
          format: int32
        DateCreated:
          type: string
          format: date-time
        AccessLevel:
          $ref: '#/components/schemas/ClientAccessEnum'
        UserName:
          type: string
        Password:
          type: string
        BillingOption:
          $ref: '#/components/schemas/BillingOption'
        PersonDetailsSpecified:
          type: boolean
      x-data-contract-name: Client
    ClientAccessSettingsForOutput:
      type: object
      properties:
        AccessLevel:
          type: integer
          format: int32
        Username:
          type: string
      x-data-contract-name: AccessSettings
    BillingOptionsForOutput:
      type: object
      properties:
        Currency:
          type: string
        ClientPays:
          type: boolean
      x-data-contract-name: BillingOptions
    ClientDetailForOutput:
      type: object
      properties:
        ApiKey:
          type: string
        BasicDetails:
          $ref: '#/components/schemas/ClientDetail'
        AccessDetails:
          $ref: '#/components/schemas/ClientAccessSettingsForOutput'
        BillingDetails:
          $ref: '#/components/schemas/BillingOptionsForOutput'
        PendingBillingDetails:
          $ref: '#/components/schemas/BillingOptionsForOutput'
      x-data-contract-name: Client
    BaseIdentity:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
        Status:
          type: string
      x-data-contract-name: Identity
    DetailedScheduledCampaign:
      type: object
      properties:
        Tags:
          type: array
          items:
            type: string
        DateScheduled:
          type: string
        ScheduledTimeZone:
          type: string
      x-data-contract-name: Campaign
    DetailedScheduledCampaignCollection:
      type: array
      items:
        $ref: '#/components/schemas/DetailedScheduledCampaign'
    DetailedDraftCampaign:
      type: object
      properties:
        Tags:
          type: array
          items:
            type: string
        CampaignID:
          type: string
        Name:
          type: string
        Subject:
          type: string
        FromName:
          type: string
        FromEmail:
          type: string
        ReplyTo:
          type: string
        DateCreated:
          type: string
        PreviewURL:
          type: string
        PreviewTextURL:
          type: string
      x-data-contract-name: Campaign
    DetailedDraftCampaignCollection:
      type: array
      items:
        $ref: '#/components/schemas/DetailedDraftCampaign'
    IDataSetCollection:
      type: object
    DetailedList:
      type: object
      x-data-contract-name: DetailedList
    DetailedListCollection:
      type: array
      items:
        $ref: '#/components/schemas/DetailedList'
    ListForEmail:
      type: object
      x-data-contract-name: List
    ListForEmailCollection:
      type: array
      items:
        $ref: '#/components/schemas/ListForEmail'
    SubscriberForEmail:
      type: object
      x-data-contract-name: List
    SubscribersForEmailCollection:
      type: array
      items:
        $ref: '#/components/schemas/SubscriberForEmail'
    TemplateCollection:
      type: object
      x-data-contract-name: Templates
    ListSegment:
      type: object
      properties:
        ListID:
          type: string
        SegmentID:
          type: string
        Title:
          type: string
      x-data-contract-name: Segment
    ListSegmentCollection:
      type: array
      items:
        $ref: '#/components/schemas/ListSegment'
    ElementStyle:
      type: object
      properties:
        FontFamily:
          type: string
        Color:
          type: string
        FontSize:
          type: string
        LineHeight:
          type: string
        TextAlign:
          type: string
    LogoContainerStyles:
      type: object
      properties:
        LogoPaddingTop:
          type: integer
          format: int32
        LogoPaddingBottom:
          type: integer
          format: int32
        TextLogoFontSize:
          type: integer
          format: int32
        TextLogoLineHeight:
          type: integer
          format: int32
    HeaderAndFooterStyle:
      type: object
      properties:
        FontFamily:
          type: string
        Color:
          type: string
        LogoContainerStyles:
          $ref: '#/components/schemas/LogoContainerStyles'
    FooterTextBlocks:
      type: object
      properties:
        Contents:
          type: string
        IsDisabled:
          type: boolean
    SocialUrl:
      type: object
      properties:
        Type:
          type: string
        Href:
          type: string
        On:
          type: boolean
        Width:
          type: string
    FooterStyles:
      type: object
      properties:
        CompanyDetails:
          $ref: '#/components/schemas/FooterTextBlocks'
        FreeText:
          $ref: '#/components/schemas/FooterTextBlocks'
        SubscriptionExplanation:
          $ref: '#/components/schemas/FooterTextBlocks'
        SubscriberPreferenceCenter:
          type: boolean
        Facebook:
          $ref: '#/components/schemas/SocialUrl'
        Twitter:
          type: boolean
        LinkedIn:
          type: boolean
        ForwardEmail:
          type: boolean
        Preferences:
          type: boolean
        SocialMediaIconTextColor:
          type: string
        SocialMediaIconBackgroundColor:
          type: string
        BackgroundColor:
          type: string
        BorderColor:
          type: string
    WorkflowBrandProfile:
      type: object
      properties:
        LogoUrl:
          type: string
        Url:
          type: string
        ButtonTextColor:
          type: string
        LinkColor:
          type: string
        ButtonColor:
          type: string
        ViewInBrowser:
          type: boolean
        Heading1:
          $ref: '#/components/schemas/ElementStyle'
        Heading2:
          $ref: '#/components/schemas/ElementStyle'
        Heading3:
          $ref: '#/components/schemas/ElementStyle'
        NormalText:
          $ref: '#/components/schemas/ElementStyle'
        HeaderAndFooter:
          $ref: '#/components/schemas/HeaderAndFooterStyle'
        BackgroundColor:
          type: string
        Footer:
          $ref: '#/components/schemas/FooterStyles'
    WorkflowBrandingRequest:
      type: object
      properties:
        JourneyIds:
          type: array
          items:
            type: string
        WorkflowBrandProfile:
          $ref: '#/components/schemas/WorkflowBrandProfile'
      x-data-contract-name: JourneyBranding
    SubscriberCollection:
      type: object
    PagedResult_SubscriberCollection_DataAPIModelsExternalSubscriber:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/SubscriberCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    ITimelineEvent:
      type: object
    ClientTimeline:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/ITimelineEvent'
    EmailAddressesForSuppression:
      type: array
      items:
        type: string
    SuppressionDetails:
      type: object
      properties:
        EmailAddresses:
          $ref: '#/components/schemas/EmailAddressesForSuppression'
      x-data-contract-name: SuppressionDetails
    ClientAccessSettings:
      type: object
      properties:
        AccessLevel:
          type: integer
          format: int32
        Username:
          type: string
        Password:
          type: string
      x-data-contract-name: AccessSettings
    BillingOptions:
      type: object
      properties:
        Currency:
          type: string
        ClientPays:
          type: boolean
        MarkupPercentage:
          type: integer
          format: int32
        CanPurchaseCredits:
          type: boolean
        MonthlyScheme:
          type: string
        MarkupOnDelivery:
          type: number
          format: double
        MarkupPerRecipient:
          type: number
          format: double
        MarkupOnDesignSpamTest:
          type: number
          format: double
      x-data-contract-name: BillingOptions
    TransferCredits:
      type: object
      properties:
        Credits:
          type: integer
          format: int32
        CanUseMyCreditsWhenTheyRunOut:
          type: boolean
      x-data-contract-name: TransferCredits
    TransferCreditsResult:
      type: object
      properties:
        AccountCredits:
          type: integer
          format: int32
        ClientCredits:
          type: integer
          format: int32
      x-data-contract-name: TransferCreditsResult
    ClientTag:
      type: object
      properties:
        Name:
          type: string
        NumberOfCampaigns:
          type: integer
          format: int32
    Dkim:
      type: object
      properties:
        Validation:
          type: string
        Key:
          type: string
        Value:
          type: string
      x-data-contract-name: DKIM
    Dmarc:
      type: object
      properties:
        Validation:
          type: string
      x-data-contract-name: DMARC
    Spf:
      type: object
      properties:
        Validation:
          type: string
      x-data-contract-name: SPF
    DnsRecords:
      type: object
      properties:
        Dkim:
          $ref: '#/components/schemas/Dkim'
        Dmarc:
          $ref: '#/components/schemas/Dmarc'
        Spf:
          $ref: '#/components/schemas/Spf'
      x-data-contract-name: DNSRecords
    SendingDomainModel:
      type: object
      properties:
        SendingDomain:
          type: string
        Selector:
          type: string
        PublicKey:
          type: string
        DnsRecords:
          $ref: '#/components/schemas/DnsRecords'
      x-data-contract-name: SendingDomainModel
    SendingDomainCollection:
      type: array
      items:
        $ref: '#/components/schemas/SendingDomainModel'
    SendingDomainRequest:
      type: object
      properties:
        DestinationClientID:
          type: string
        SendingDomain:
          type: string
        Selector:
          type: string
        PublicKey:
          type: string
        PrivateKey:
          type: string
      x-data-contract-name: SendingDomainRequest
    AddPerson:
      type: object
      properties:
        Password:
          type: string
        EmailAddress:
          type: string
        Name:
          type: string
        AccessLevel:
          type: integer
          format: int32
        Status:
          type: string
        LastLoginUtc:
          type: string
        TwoFactorStatus:
          type: string
      x-data-contract-name: AddPerson
    AddPersonReponse:
      type: object
      properties:
        EmailAddress:
          type: string
      x-data-contract-name: AddPersonResponse
    UpdatePerson:
      type: object
      properties:
        Password:
          type: string
      x-data-contract-name: UpdatePerson
    UpdatePersonReponse:
      type: object
      properties:
        EmailAddress:
          type: string
      x-data-contract-name: UpdatePersonResponse
    Person:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
        AccessLevel:
          type: integer
          format: int32
        Status:
          type: string
        LastLoginUtc:
          type: string
        TwoFactorStatus:
          type: string
      x-data-contract-name: Person
    PrimaryContact:
      type: object
      properties:
        EmailAddress:
          type: string
      x-data-contract-name: PrimaryContact
    AccountProvisioningModel:
      type: object
      x-data-contract-name: AccountProvisioningModel
    AddAdministrator:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
        Status:
          type: string
      x-data-contract-name: AddAdministrator
    AddAdministratorResponse:
      type: object
      properties:
        EmailAddress:
          type: string
      x-data-contract-name: AddAdministratorResponse
    UpdateAdministrator:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
        Status:
          type: string
      x-data-contract-name: UpdateAdministrator
    UpdateAdministratorResponse:
      type: object
      properties:
        EmailAddress:
          type: string
      x-data-contract-name: UpdateAdministratorResponse
    Administrator:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
        Status:
          type: string
      x-data-contract-name: Administrator
    AdministratorCollection:
      type: array
      items:
        $ref: '#/components/schemas/Administrator'
    IModelSerialisationService:
      type: object
    SubscriberState:
      type: string
      enum:
      - Unknown
      - Active
      - Deleted
      - Unsubscribed
      - Bounced
      - Unconfirmed
      - MarkedAsSpam
      - Suppressed
      - Redacted
      - Unfinalised
    ABTestVersion:
      type: string
      enum:
      - None
      - A
      - B
    SubscriberCustomField:
      type: object
      properties:
        Key:
          type: string
        Value:
          type: string
      x-data-contract-name: CustomField
    Subscriber:
      type: object
      properties:
        Origin:
          type: string
        SuppressionReason:
          $ref: '#/components/schemas/SubscriberState'
        ListTitle:
          type: string
        ListDateCreated:
          type: string
          format: date-time
        EmailsSent:
          type: integer
          format: int32
        OpensCount:
          type: integer
          format: int32
        ClicksCount:
          type: integer
          format: int32
        BounceCount:
          type: integer
          format: int32
        ForwardsCount:
          type: integer
          format: int32
        ReceivedVersion:
          $ref: '#/components/schemas/ABTestVersion'
        CustomFields:
          type: array
          items:
            $ref: '#/components/schemas/SubscriberCustomField'
        MobileNumber:
          type: string
        FirstName:
          type: string
        NameOrEmail:
          type: string
        StateString:
          type: string
        SubscriberID:
          type: integer
          format: int64
        ListID:
          type: integer
          format: int32
        State:
          $ref: '#/components/schemas/SubscriberState'
        EmailAddress:
          type: string
        Name:
          type: string
        OriginalDate:
          type: string
          format: date-time
        Date:
          type: string
          format: date-time
        OriginalDateString:
          type: string
        LastDateString:
          type: string
    RESTfulApiResult_DataAPIModelsExternalSubscriber:
      type: object
      properties:
        SerialisationService:
          $ref: '#/components/schemas/IModelSerialisationService'
        Model:
          $ref: '#/components/schemas/Subscriber'
    ConsentToTrack:
      type: string
      enum:
      - Unchanged
      - Yes
      - No
    ClearableSubscriberCustomField:
      type: object
      x-data-contract-name: CustomField
    ClearableSubscriberCustomFieldCollection:
      type: array
      items:
        $ref: '#/components/schemas/ClearableSubscriberCustomField'
    ConsentToSendSms:
      type: string
      enum:
      - Unchanged
      - Yes
      - No
    SmsMarketingConsentPermission:
      type: string
      enum:
      - Unknown
      - Granted
      - NotGranted
    SubscriberForCreation:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
        ConsentToTrack:
          $ref: '#/components/schemas/ConsentToTrack'
        MobileNumber:
          type: string
        Date:
          type: string
        State:
          type: string
        CustomFields:
          $ref: '#/components/schemas/ClearableSubscriberCustomFieldCollection'
        Resubscribe:
          type: boolean
        RestartSubscriptionBasedAutoresponders:
          type: boolean
        ConsentToSendSms:
          $ref: '#/components/schemas/ConsentToSendSms'
        SmsMarketingConsentPermission:
          $ref: '#/components/schemas/SmsMarketingConsentPermission'
      x-data-contract-name: Subscriber
    SubscribersForCreation:
      type: object
      properties:
        Resubscribe:
          type: boolean
        QueueSubscriptionBasedAutoResponders:
          type: boolean
        RestartSubscriptionBasedAutoresponders:
          type: boolean
        PreventWebhookUpdates:
          type: boolean
        Subscribers:
          type: array
          items:
            $ref: '#/components/schemas/SubscriberForCreation'
      x-data-contract-name: AddSubscribers
    AsyncBulkImport:
      type: object
      properties:
        RequestId:
          type: string
    SubscriberAction:
      type: object
      properties:
        Event:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
        Detail:
          type: string
      x-data-contract-name: Action
    SubscriberActionCollection:
      type: array
      items:
        $ref: '#/components/schemas/SubscriberAction'
    SubscriberHistoryItem:
      type: object
      properties:
        ID:
          type: string
        Type:
          type: string
        Name:
          type: string
        Actions:
          $ref: '#/components/schemas/SubscriberActionCollection'
        WebVersionURL:
          type: string
      x-data-contract-name: Email
    SubscriberHistoryItemCollection:
      type: array
      items:
        $ref: '#/components/schemas/SubscriberHistoryItem'
    AsyncBulkImportStatus:
      type: object
      properties:
        TotalRequestsCurrentlyEnqueued:
          type: integer
          format: int64
    PagedResult_SubscriberCollection_Subscriber:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/SubscriberCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    ListDetailWithUnsubscribeSetting:
      type: object
      x-data-contract-name: List
    ListDetailWithUnsubscribeSettingForUpdate:
      type: object
      x-data-contract-name: List
    CustomFieldOptions:
      type: array
      items:
        type: string
    CustomFieldForInput:
      type: object
      properties:
        FieldName:
          type: string
        DataType:
          type: string
        Options:
          $ref: '#/components/schemas/CustomFieldOptions'
        VisibleInPreferenceCenter:
          type: boolean
      x-data-contract-name: CustomField
    CustomFieldForUpdate:
      type: object
      properties:
        FieldName:
          type: string
        VisibleInPreferenceCenter:
          type: boolean
      x-data-contract-name: CustomField
    Events:
      type: array
      items:
        type: string
    ListWebhookForInput:
      type: object
      properties:
        Events:
          $ref: '#/components/schemas/Events'
        Url:
          type: string
        PayloadFormat:
          type: string
      x-data-contract-name: ListWebhook
    ListStatistics:
      type: object
      properties:
        TotalActiveSubscribers:
          type: integer
          format: int32
        NewActiveSubscribersToday:
          type: integer
          format: int32
        NewActiveSubscribersYesterday:
          type: integer
          format: int32
        NewActiveSubscribersThisWeek:
          type: integer
          format: int32
        NewActiveSubscribersThisMonth:
          type: integer
          format: int32
        NewActiveSubscribersThisYear:
          type: integer
          format: int32
        TotalUnsubscribes:
          type: integer
          format: int32
        UnsubscribesToday:
          type: integer
          format: int32
        UnsubscribesYesterday:
          type: integer
          format: int32
        UnsubscribesThisWeek:
          type: integer
          format: int32
        UnsubscribesThisMonth:
          type: integer
          format: int32
        UnsubscribesThisYear:
          type: integer
          format: int32
        TotalDeleted:
          type: integer
          format: int32
        DeletedToday:
          type: integer
          format: int32
        DeletedYesterday:
          type: integer
          format: int32
        DeletedThisWeek:
          type: integer
          format: int32
        DeletedThisMonth:
          type: integer
          format: int32
        DeletedThisYear:
          type: integer
          format: int32
        TotalBounces:
          type: integer
          format: int32
        BouncesToday:
          type: integer
          format: int32
        BouncesYesterday:
          type: integer
          format: int32
        BouncesThisWeek:
          type: integer
          format: int32
        BouncesThisMonth:
          type: integer
          format: int32
        BouncesThisYear:
          type: integer
          format: int32
      x-data-contract-name: List
    DetailedListStatistics:
      type: object
      properties:
        NewActiveSubscribersLastWeek:
          type: integer
          format: int32
        NewActiveSubscribersLastMonth:
          type: integer
          format: int32
        NewActiveSubscribersAveragePerDay:
          type: number
          format: double
        NewActiveSubscribersAveragePerWeek:
          type: integer
          format: int32
        NewActiveSubscribersAveragePerMonth:
          type: integer
          format: int32
        NewActiveSubscribersSinceLastCampaign:
          type: integer
          format: int32
        UnsubscribesLastWeek:
          type: integer
          format: int32
        UnsubscribesLastMonth:
          type: integer
          format: int32
        UnsubscribesAveragePerDay:
          type: number
          format: double
        UnsubscribesAveragePerWeek:
          type: integer
          format: int32
        UnsubscribesAveragePerMonth:
          type: integer
          format: int32
        UnsubscribesSinceLastCampaign:
          type: integer
          format: int32
        DeletedLastWeek:
          type: integer
          format: int32
        DeletedLastMonth:
          type: integer
          format: int32
        DeletedAveragePerDay:
          type: number
          format: double
        DeletedAveragePerWeek:
          type: integer
          format: int32
        DeletedAveragePerMonth:
          type: integer
          format: int32
        DeletedSinceLastCampaign:
          type: integer
          format: int32
        BouncesLastWeek:
          type: integer
          format: int32
        BouncesLastMonth:
          type: integer
          format: int32
        BouncesAveragePerDay:
          type: number
          format: double
        BouncesAveragePerWeek:
          type: integer
          format: int32
        BouncesAveragePerMonth:
          type: integer
          format: int32
        BouncesSinceLastCampaign:
          type: integer
          format: int32
        TotalActiveSubscribers:
          type: integer
          format: int32
        NewActiveSubscribersToday:
          type: integer
          format: int32
        NewActiveSubscribersYesterday:
          type: integer
          format: int32
        NewActiveSubscribersThisWeek:
          type: integer
          format: int32
        NewActiveSubscribersThisMonth:
          type: integer
          format: int32
        NewActiveSubscribersThisYear:
          type: integer
          format: int32
        TotalUnsubscribes:
          type: integer
          format: int32
        UnsubscribesToday:
          type: integer
          format: int32
        UnsubscribesYesterday:
          type: integer
          format: int32
        UnsubscribesThisWeek:
          type: integer
          format: int32
        UnsubscribesThisMonth:
          type: integer
          format: int32
        UnsubscribesThisYear:
          type: integer
          format: int32
        TotalDeleted:
          type: integer
          format: int32
        DeletedToday:
          type: integer
          format: int32
        DeletedYesterday:
          type: integer
          format: int32
        DeletedThisWeek:
          type: integer
          format: int32
        DeletedThisMonth:
          type: integer
          format: int32
        DeletedThisYear:
          type: integer
          format: int32
        TotalBounces:
          type: integer
          format: int32
        BouncesToday:
          type: integer
          format: int32
        BouncesYesterday:
          type: integer
          format: int32
        BouncesThisWeek:
          type: integer
          format: int32
        BouncesThisMonth:
          type: integer
          format: int32
        BouncesThisYear:
          type: integer
          format: int32
      x-data-contract-name: DetailedList
    SubscriberFieldDataType:
      type: string
      enum:
      - Text
      - Number
      - MultiSelectOne
      - MultiSelectMany
      - Date
      - SpecificCampaign
      - OtherLists
    ListInternalCustomField:
      type: object
      properties:
        FieldID:
          type: string
        FieldName:
          type: string
        Key:
          type: string
        DataType:
          $ref: '#/components/schemas/SubscriberFieldDataType'
        FieldOptions:
          $ref: '#/components/schemas/CustomFieldOptions'
        VisibleInPreferenceCenter:
          type: boolean
      x-data-contract-name: CustomField
    ListInternalCustomFieldCollection:
      type: array
      items:
        $ref: '#/components/schemas/ListInternalCustomField'
    WebhookType:
      type: string
      enum:
      - List
    ListWebhookEvent:
      type: string
      enum:
      - None
      - Subscribe
      - Deactivate
      - Update
    WebhookFormat:
      type: string
      enum:
      - None
      - Json
      - Xml
    WebhookStatus:
      type: string
      enum:
      - Inactive
      - Active
    ListWebhook:
      type: object
      properties:
        ListID:
          type: integer
          format: int32
        ListDateAdded:
          type: string
          format: date-time
        Type:
          $ref: '#/components/schemas/WebhookType'
        WebhookID:
          type: integer
          format: int32
        EntityID:
          type: integer
          format: int32
        Url:
          type: string
        EntityDateCreated:
          type: string
          format: date-time
        DateCreated:
          type: string
          format: date-time
        Event:
          $ref: '#/components/schemas/ListWebhookEvent'
        Format:
          $ref: '#/components/schemas/WebhookFormat'
        Status:
          $ref: '#/components/schemas/WebhookStatus'
    ListWebhookCollection:
      type: array
      items:
        $ref: '#/components/schemas/ListWebhook'
    ListTimeline:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/ITimelineEvent'
    FieldOptions:
      type: object
      properties:
        KeepExistingOptions:
          type: boolean
        Options:
          $ref: '#/components/schemas/CustomFieldOptions'
      x-data-contract-name: FieldOptions
    ListSegmentRuleType:
      type: string
      enum:
      - CustomField
      - None
      - Name
      - EmailAddress
      - DateSubscribed
      - CampaignOpened
      - CampaignClickedAny
      - CampaignClickedSpecific
      - CampaignOpenedNoClick
      - CampaignNotOpened
      - CampaignNotClickedSpecific
      - Location
      - WorkflowOpened
      - WorkflowClickedAny
      - WorkflowClickedSpecific
      - WorkflowOpenedNoClick
      - WorkflowNotOpened
      - WorkflowNotClickedSpecific
      - List
      - EngagementSegment
      - MobileNumber
    CustomField:
      type: object
      properties:
        FieldID:
          type: integer
          format: int32
        Title:
          type: string
    NewSegmentRule:
      type: object
      properties:
        Type:
          type: string
        Clause:
          type: string
        RuleType:
          $ref: '#/components/schemas/ListSegmentRuleType'
        RelevantField:
          $ref: '#/components/schemas/CustomField'
      x-data-contract-name: Rule
    NewSegmentRuleCollection:
      type: array
      items:
        $ref: '#/components/schemas/NewSegmentRule'
    RuleGroup:
      type: object
      properties:
        Rules:
          $ref: '#/components/schemas/NewSegmentRuleCollection'
        IsOldPayload:
          type: boolean
      x-data-contract-name: RuleGroup
    RuleGroupCollection:
      type: array
      items:
        $ref: '#/components/schemas/RuleGroup'
    NewSegmentForUpdate:
      type: object
      properties:
        Title:
          type: string
        RuleGroups:
          $ref: '#/components/schemas/RuleGroupCollection'
        IsOldPayload:
          type: boolean
      x-data-contract-name: Segment
    NewSegmentDetails:
      type: object
      properties:
        ActiveSubscribers:
          type: integer
          format: int32
        RuleGroups:
          $ref: '#/components/schemas/RuleGroupCollection'
        ListID:
          type: string
        SegmentID:
          type: string
        Title:
          type: string
      x-data-contract-name: Segment
    CampaignSummaryWithName:
      type: object
      properties:
        Name:
          type: string
        WebVersionURL:
          type: string
        WebVersionTextURL:
          type: string
        WorldviewURL:
          type: string
        Forwards:
          type: integer
          format: int32
        Likes:
          type: integer
          format: int32
        Mentions:
          type: integer
          format: int32
      x-data-contract-name: Summary
    CampaignRecipientActivityCollection:
      type: object
    PagedResult_CampaignRecipientActivityCollection_CampaignRecipientActivity:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/CampaignRecipientActivityCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    ListIDCollection:
      type: array
      items:
        type: string
    SegmentIDCollection:
      type: array
      items:
        type: string
    CampaignForCreation:
      type: object
      properties:
        Subject:
          type: string
        Name:
          type: string
        FromName:
          type: string
        FromEmail:
          type: string
        ReplyTo:
          type: string
        HtmlUrl:
          type: string
        TextUrl:
          type: string
        ListIDs:
          $ref: '#/components/schemas/ListIDCollection'
        SegmentIDs:
          $ref: '#/components/schemas/SegmentIDCollection'
        InlineCss:
          type: boolean
      x-data-contract-name: Campaign
    EditableField:
      type: object
      properties:
        Content:
          type: string
        Href:
          type: string
        Alt:
          type: string
      x-data-contract-name: EditableField
    ImageCollection:
      type: array
      items:
        $ref: '#/components/schemas/EditableField'
    SinglelineCollection:
      type: array
      items:
        $ref: '#/components/schemas/EditableField'
    MultilineCollection:
      type: array
      items:
        $ref: '#/components/schemas/EditableField'
    Repeater:
      type: object
      properties:
        RepeaterNumber:
          type: integer
          format: int32
        Title:
          type: string
        TitleURL:
          type: string
        Description:
          type: string
        ImageFileName:
          type: string
        ImageURL:
          type: string
        SortOrder:
          type: integer
          format: int32
    RepeaterCollection:
      type: array
      items:
        $ref: '#/components/schemas/Repeater'
    CampaignContentForTemplate:
      type: object
      properties:
        Images:
          $ref: '#/components/schemas/ImageCollection'
        Singlelines:
          $ref: '#/components/schemas/SinglelineCollection'
        Multilines:
          $ref: '#/components/schemas/MultilineCollection'
        Repeaters:
          $ref: '#/components/schemas/RepeaterCollection'
      x-data-contract-name: TemplateContent
    CampaignForCreationFromTemplate:
      type: object
      properties:
        Subject:
          type: string
        Name:
          type: string
        FromName:
          type: string
        FromEmail:
          type: string
        ReplyTo:
          type: string
        ListIDs:
          $ref: '#/components/schemas/ListIDCollection'
        SegmentIDs:
          $ref: '#/components/schemas/SegmentIDCollection'
        TemplateID:
          type: string
        TemplateContent:
          $ref: '#/components/schemas/CampaignContentForTemplate'
      x-data-contract-name: Campaign
    SchedulingInfo:
      type: object
      properties:
        ConfirmationEmail:
          type: string
        SendDate:
          type: string
        InRecipientTimeZone:
          type: boolean
        SendTimeOptimised:
          type: boolean
      x-data-contract-name: Scheduling
    PreviewRecipientsCollection:
      type: array
      items:
        type: string
    CampaignPreviewInfo:
      type: object
      properties:
        PreviewRecipients:
          $ref: '#/components/schemas/PreviewRecipientsCollection'
        ValidEmails:
          type: array
          items:
            type: string
      x-data-contract-name: PreviewInfo
    CampaignTimeline:
      type: object
      properties:
        Results:
          type: array
          items:
            type: object
    ClickSummary:
      type: object
      properties:
        URL:
          type: string
        TotalClicked:
          type: integer
          format: int32
      x-data-contract-name: ClickSummary
    TemplateType:
      type: string
      enum:
      - UserProvided
      - TemplateBuilder
      - EmailBuilder
    ScreenshotAvailability:
      type: string
      enum:
      - NotAvailable
      - Available
      - RequiresGeneration
      - Generating
    TemplateExternalDataSource:
      type: string
      enum:
      - None
      - Generic
      - RSS
      - Json
      - Xml
    ColorPickerModel:
      type: object
      properties:
        Id:
          type: string
        Label:
          type: string
        Color:
          type: string
    TemplateSidebarTableOfContentsModel:
      type: object
      properties:
        Enabled:
          type: boolean
        Color:
          $ref: '#/components/schemas/ColorPickerModel'
    TemplateSidebarExtraContentModel:
      type: object
      properties:
        Enabled:
          type: boolean
        SectionName:
          type: string
        SectionColor:
          $ref: '#/components/schemas/ColorPickerModel'
        Title:
          $ref: '#/components/schemas/ColorPickerModel'
        Paragraph:
          $ref: '#/components/schemas/ColorPickerModel'
        Links:
          $ref: '#/components/schemas/ColorPickerModel'
    TemplateSidebarElement:
      type: object
      properties:
        Label:
          type: string
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        Links:
          $ref: '#/components/schemas/ColorPickerModel'
        TableOfContents:
          $ref: '#/components/schemas/TemplateSidebarTableOfContentsModel'
        ExtraContent:
          $ref: '#/components/schemas/TemplateSidebarExtraContentModel'
    TemplateSidebarModel:
      type: object
      properties:
        SidebarElements:
          type: array
          items:
            $ref: '#/components/schemas/TemplateSidebarElement'
    TemplateLayoutType:
      type: object
      properties:
        Name:
          type: string
        Sidebar:
          $ref: '#/components/schemas/TemplateSidebarModel'
    TemplateLayouts:
      type: object
      properties:
        Simple:
          $ref: '#/components/schemas/TemplateLayoutType'
        All:
          type: array
          items:
            $ref: '#/components/schemas/TemplateLayoutType'
    TemplateBasicsModel:
      type: object
      properties:
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        BaseFont:
          type: string
        Language:
          type: string
        FacebookLikeButton:
          type: boolean
        FacebookLikeCustomUrl:
          type: boolean
        FacebookLikeUrl:
          type: string
        TwitterButton:
          type: boolean
        ForwardButton:
          type: boolean
    TemplateQuickLinkAreaModel:
      type: object
      properties:
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        Text:
          $ref: '#/components/schemas/ColorPickerModel'
        Links:
          $ref: '#/components/schemas/ColorPickerModel'
    ImageModel:
      type: object
      properties:
        Filename:
          type: string
        Location:
          type: string
        Id:
          type: string
        Width:
          type: integer
          format: int32
        Editable:
          type: boolean
    TemplateMainHeaderModel:
      type: object
      properties:
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        UseImage:
          type: boolean
        TitleText:
          type: string
        TitleColor:
          $ref: '#/components/schemas/ColorPickerModel'
        TitleTextAlign:
          type: string
        ImageAlign:
          type: string
        TitleTextFont:
          type: string
        TitleTextFontSize:
          type: integer
          format: int32
        TitleImage:
          $ref: '#/components/schemas/ImageModel'
        HasLink:
          type: boolean
        HeaderLinkUrl:
          type: string
    TemplateHeaderModel:
      type: object
      properties:
        QuickLinkArea:
          $ref: '#/components/schemas/TemplateQuickLinkAreaModel'
        MainHeader:
          $ref: '#/components/schemas/TemplateMainHeaderModel'
    DataRepeaterContentItem:
      type: object
      properties:
        fields:
          type: object
          additionalProperties:
            type: string
        layout:
          type: string
    DataRepeaterContent:
      type: object
      properties:
        feed:
          type: string
        entered:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/DataRepeaterContentItem'
    TemplateContentModel:
      type: object
      properties:
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        Title:
          $ref: '#/components/schemas/ColorPickerModel'
        Paragraph:
          $ref: '#/components/schemas/ColorPickerModel'
        Links:
          $ref: '#/components/schemas/ColorPickerModel'
        ArticleLength:
          type: string
        DRContent:
          $ref: '#/components/schemas/DataRepeaterContent'
    TemplateFooterModel:
      type: object
      properties:
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        Text:
          $ref: '#/components/schemas/ColorPickerModel'
        Links:
          $ref: '#/components/schemas/ColorPickerModel'
        Address:
          $ref: '#/components/schemas/ColorPickerModel'
        PermissionReminder:
          type: string
        StreetAddress:
          type: string
        StreetAddressLines:
          type: array
          items:
            type: string
        PermissionReminderLines:
          type: array
          items:
            type: string
    TemplateThemeColors:
      type: object
      properties:
        BasicsBackground:
          type: string
        HeaderQuickLinksBackground:
          type: string
        HeaderQuickLinksText:
          type: string
        HeaderQuickLinksLinks:
          type: string
        HeaderMainBackground:
          type: string
        HeaderMainTitle:
          type: string
        ContentBackground:
          type: string
        ContentTitle:
          type: string
        ContentParagraph:
          type: string
        ContentLinks:
          type: string
        SidebarBackground:
          type: string
        SidebarLinks:
          type: string
        SidebarTableOfContents:
          type: string
        SidebarExtraSection:
          type: string
        SidebarExtraTitle:
          type: string
        SidebarExtraParagraph:
          type: string
        FooterBackground:
          type: string
        FooterText:
          type: string
        FooterLinks:
          type: string
        FooterAddress:
          type: string
    TemplateThemeFonts:
      type: object
      properties:
        BaseFontFamily:
          type: string
        HeaderTitleFontFamily:
          type: string
        HeaderTitleTextFontSize:
          type: integer
          format: int32
        HeaderTitleTextAlign:
          type: string
    TemplateThemeModel:
      type: object
      properties:
        ThemeName:
          type: string
        Colors:
          $ref: '#/components/schemas/TemplateThemeColors'
        Fonts:
          $ref: '#/components/schemas/TemplateThemeFonts'
        SwatchColors:
          type: array
          items:
            type: string
    TemplateThemes:
      type: object
      properties:
        All:
          type: array
          items:
            $ref: '#/components/schemas/TemplateThemeModel'
    TemplateTranslationModel:
      type: object
      properties:
        Language:
          type: string
        LanguageDisplayName:
          type: string
        CultureCode:
          type: string
        WebVersion:
          type: string
        UpdatePreferences:
          type: string
        EditSubscription:
          type: string
        Unsubscribe:
          type: string
        UnsubscribeInstantly:
          type: string
        Like:
          type: string
        Tweet:
          type: string
        Forward:
          type: string
        Share:
          type: string
    TemplateTranslations:
      type: object
      properties:
        All:
          type: array
          items:
            $ref: '#/components/schemas/TemplateTranslationModel'
    FloatingText:
      type: object
      properties:
        IsPlaceholder:
          type: boolean
        IsDisabled:
          type: boolean
        Contents:
          type: string
    TemplateBuilderTemplateModel:
      type: object
      properties:
        TemplateName:
          type: string
        EnTemplateID:
          type: string
        Layouts:
          $ref: '#/components/schemas/TemplateLayouts'
        Layout:
          $ref: '#/components/schemas/TemplateLayoutType'
        Basics:
          $ref: '#/components/schemas/TemplateBasicsModel'
        Header:
          $ref: '#/components/schemas/TemplateHeaderModel'
        Content:
          $ref: '#/components/schemas/TemplateContentModel'
        Sidebar:
          $ref: '#/components/schemas/TemplateSidebarModel'
        Footer:
          $ref: '#/components/schemas/TemplateFooterModel'
        Themes:
          $ref: '#/components/schemas/TemplateThemes'
        Theme:
          $ref: '#/components/schemas/TemplateThemeModel'
        Translations:
          $ref: '#/components/schemas/TemplateTranslations'
        Translation:
          $ref: '#/components/schemas/TemplateTranslationModel'
        DisplaySaveDialog:
          type: boolean
        ExternalDataSources:
          $ref: '#/components/schemas/TemplateExternalDataSource'
        EditableText:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/FloatingText'
    Template:
      type: object
      properties:
        TemplateType:
          $ref: '#/components/schemas/TemplateType'
        DbID:
          type: string
        TemplateID:
          type: integer
          format: int32
        ClientID:
          type: integer
          format: int32
        ImageWidth:
          type: integer
          format: int32
        IsComplete:
          type: boolean
        TimesSent:
          type: integer
          format: int32
        TemplateName:
          type: string
        IsScreenshotGenerating:
          type: boolean
        ScreenshotStatus:
          $ref: '#/components/schemas/ScreenshotAvailability'
        ExternalDataSources:
          $ref: '#/components/schemas/TemplateExternalDataSource'
        DateCreated:
          type: string
          format: date-time
        LastUpdated:
          type: string
          format: date-time
        BuilderModelAsJson:
          type: string
        FromBuilder:
          type: boolean
        BaseTemplateID:
          type: string
        BaseDesignID:
          type: integer
          format: int32
        IsNewTemplate:
          type: boolean
        HasRestrictions:
          type: boolean
        BuilderModel:
          $ref: '#/components/schemas/TemplateBuilderTemplateModel'
          description: This is not compatible with Canvas!
    TemplateForInput:
      type: object
      properties:
        Name:
          type: string
        HtmlPageURL:
          type: string
        ZipFileURL:
          type: string
        ScreenshotURL:
          type: string
      x-data-contract-name: Template
    TemplateCopyRequest:
      type: object
      properties:
        DestinationClientID:
          type: string
        Name:
          type: string
      x-data-contract-name: TemplateCopy
    TemplateCopyBrandedRequest:
      type: object
      properties:
        DestinationClientID:
          type: string
        Name:
          type: string
        LogoUrl:
          type: string
        ButtonColor:
          type: string
        ButtonTextColor:
          type: string
        LinkColor:
          type: string
        Url:
          type: string
        ViewInBrowser:
          type: boolean
        Heading1:
          $ref: '#/components/schemas/ElementStyle'
        Heading2:
          $ref: '#/components/schemas/ElementStyle'
        Heading3:
          $ref: '#/components/schemas/ElementStyle'
        NormalText:
          $ref: '#/components/schemas/ElementStyle'
        HeaderAndFooter:
          $ref: '#/components/schemas/HeaderAndFooterStyle'
        Footer:
          $ref: '#/components/schemas/FooterStyles'
        BackgroundColor:
          type: string
      x-data-contract-name: TemplateCopyBranded
    SessionOptions:
      type: object
      properties:
        Email:
          type: string
        Chrome:
          type: string
        Url:
          type: string
        IntegratorID:
          type: string
        ClientID:
          type: string
      x-data-contract-name: SessionOptions
    ExternalSessionResult:
      type: object
      properties:
        SessionUrl:
          type: string
      x-data-contract-name: Result
    CSSProcessingOptions:
      type: object
      properties:
        Content:
          type: string
        BaseUrl:
          type: string
      x-data-contract-name: ProcessingOptions
    CSSProcessingResult:
      type: object
      properties:
        ProcessedContent:
          type: string
      x-data-contract-name: ProcessingResult
    ApiKeyResult:
      type: object
      properties:
        ApiKey:
          type: string
      x-data-contract-name: Result
    WorkflowStatusAction:
      type: string
      enum:
      - Start
      - Pause
    UpdateJourneyStatusRequest:
      type: object
      properties:
        Action:
          $ref: '#/components/schemas/WorkflowStatusAction'
      x-data-contract-name: JourneyUpdateStatus
    WorkflowUIStatus:
      type: string
      enum:
      - Off
      - Starting
      - On
      - Paused
    WorkflowStatusChangeResponse:
      type: object
      properties:
        Status:
          $ref: '#/components/schemas/WorkflowUIStatus'
        IsApprovalRequired:
          type: boolean
        ApprovalUrl:
          type: string
        Success:
          type: boolean
        WorkflowVersion:
          type: string
    WorkflowCopyRequest:
      type: object
      properties:
        DestinationClientID:
          type: string
        DestinationListID:
          type: string
        Name:
          type: string
      x-data-contract-name: JourneyCopy
    WorkflowEmailRecipient:
      type: object
      properties:
        EmailAddress:
          type: string
        SentDate:
          type: string
      x-data-contract-name: Recipient
    WorkflowEmailRecipientCollection:
      type: array
      items:
        $ref: '#/components/schemas/WorkflowEmailRecipient'
    PagedResult_WorkflowEmailRecipientCollection_WorkflowEmailRecipient:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/WorkflowEmailRecipientCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    WorkflowEmailOpen:
      type: object
      properties:
        EmailAddress:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        City:
          type: string
        Region:
          type: string
        CountryCode:
          type: string
        CountryName:
          type: string
        OpenID:
          type: integer
          format: int64
        Name:
          type: string
      x-data-contract-name: Open
    WorkflowEmailOpenCollection:
      type: array
      items:
        $ref: '#/components/schemas/WorkflowEmailOpen'
    PagedResult_WorkflowEmailOpenCollection_WorkflowEmailOpen:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/WorkflowEmailOpenCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    WorkflowEmailClick:
      type: object
      properties:
        EmailAddress:
          type: string
        Date:
          type: string
        URL:
          type: string
        IPAddress:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        City:
          type: string
        Region:
          type: string
        CountryCode:
          type: string
        CountryName:
          type: string
        ClickID:
          type: integer
          format: int64
        Name:
          type: string
      x-data-contract-name: Click
    WorkflowEmailClickCollection:
      type: array
      items:
        $ref: '#/components/schemas/WorkflowEmailClick'
    PagedResult_WorkflowEmailClickCollection_WorkflowEmailClick:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/WorkflowEmailClickCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    WorkflowEmailUnsubscribe:
      type: object
      properties:
        EmailAddress:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
      x-data-contract-name: Unsubscribe
    WorkflowEmailUnsubscribeCollection:
      type: array
      items:
        $ref: '#/components/schemas/WorkflowEmailUnsubscribe'
    PagedResult_WorkflowEmailUnsubscribeCollection_WorkflowEmailUnsubscribe:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/WorkflowEmailUnsubscribeCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    WorkflowEmailBounce:
      type: object
      properties:
        EmailAddress:
          type: string
        BounceType:
          type: string
        Date:
          type: string
        Reason:
          type: string
      x-data-contract-name: Bounce
    WorkflowEmailBounceCollection:
      type: array
      items:
        $ref: '#/components/schemas/WorkflowEmailBounce'
    PagedResult_WorkflowEmailBounceCollection_WorkflowEmailBounce:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/WorkflowEmailBounceCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    GetFeedbackAccountDetails:
      type: object
      x-data-contract-name: GetFeedbackAccountDetails
    CampaignRecipient:
      type: object
      properties:
        EmailAddress:
          type: string
        ListID:
          type: string
      x-data-contract-name: Recipient
    CampaignRecipientCollection:
      type: array
      items:
        $ref: '#/components/schemas/CampaignRecipient'
    PagedResult_CampaignRecipientCollection_CampaignRecipient:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/CampaignRecipientCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    ExtendedSubscriberBounce:
      type: object
      properties:
        Date:
          type: string
        Reason:
          type: string
      x-data-contract-name: Bounce
    ExtendedSubscriberBounceCollection:
      type: array
      items:
        $ref: '#/components/schemas/ExtendedSubscriberBounce'
    PagedResult_ExtendedSubscriberBounceCollection_ExtendedSubscriberBounce:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/ExtendedSubscriberBounceCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    List:
      type: object
      x-data-contract-name: List
    ListCollection:
      type: array
      items:
        $ref: '#/components/schemas/List'
    CampaignListsAndSegments:
      type: object
      properties:
        Lists:
          $ref: '#/components/schemas/ListCollection'
        Segments:
          $ref: '#/components/schemas/ListSegmentCollection'
      x-data-contract-name: ListsAndSegments
    IndividualSubscriberOpen:
      type: object
      properties:
        EmailAddress:
          type: string
        ListID:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        City:
          type: string
        Region:
          type: string
        CountryCode:
          type: string
        CountryName:
          type: string
        OpenID:
          type: integer
          format: int64
        Name:
          type: string
      x-data-contract-name: Open
    IndividualSubscriberOpenCollection:
      type: array
      items:
        $ref: '#/components/schemas/IndividualSubscriberOpen'
    PagedResult_IndividualSubscriberOpenCollection_IndividualSubscriberOpen:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/IndividualSubscriberOpenCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    IndividualSubscriberClick:
      type: object
      properties:
        EmailAddress:
          type: string
        URL:
          type: string
        ListID:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        City:
          type: string
        Region:
          type: string
        CountryCode:
          type: string
        CountryName:
          type: string
        LinkSubscriberID:
          type: integer
          format: int64
        Name:
          type: string
        SubscriberID:
          type: integer
          format: int64
      x-data-contract-name: Click
    IndividualSubscriberClickCollection:
      type: array
      items:
        $ref: '#/components/schemas/IndividualSubscriberClick'
    PagedResult_IndividualSubscriberClickCollection_IndividualSubscriberClick:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/IndividualSubscriberClickCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    EmailClient:
      type: object
      properties:
        Client:
          type: string
        Version:
          type: string
        Percentage:
          type: number
          format: double
        Subscribers:
          type: integer
          format: int32
      x-data-contract-name: EmailClient
    EmailClientCollection:
      type: array
      items:
        $ref: '#/components/schemas/EmailClient'
    IndividualSubscriberUnsubscribe:
      type: object
      properties:
        EmailAddress:
          type: string
        ListID:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
      x-data-contract-name: Unsubscribe
    IndividualSubscriberUnsubscribeCollection:
      type: array
      items:
        $ref: '#/components/schemas/IndividualSubscriberUnsubscribe'
    PagedResult_IndividualSubscriberUnsubscribeCollection_IndividualSubscriberUnsubscribe:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/IndividualSubscriberUnsubscribeCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    SpamComplaint:
      type: object
      properties:
        EmailAddress:
          type: string
        ListID:
          type: string
        Date:
          type: string
      x-data-contract-name: SpamComplaint
    SpamComplaintCollection:
      type: array
      items:
        $ref: '#/components/schemas/SpamComplaint'
    PagedResult_SpamComplaintCollection_SpamComplaint:
      type: object
      properties:
        Results:
          $ref: '#/components/schemas/SpamComplaintCollection'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
      x-data-contract-name: PagedResult
    WorldViewCountryData:
      type: object
      properties:
        CountryCode:
          type: string
        CountryName:
          type: string
        Opens:
          type: integer
          format: int32
        Clicks:
          type: integer
          format: int32
        Shares:
          type: integer
          format: int32
    BillingDetails:
      type: object
      properties:
        Credits:
          type: integer
          format: int32
      x-data-contract-name: BillingDetails
    TimeZoneCollection:
      type: array
      items:
        type: string
    StatusCode:
      type: string
      enum:
      - Received
      - Queued
      - Sent
      - Paused
      - Processed
      - RateLimited
      - BadRequest
      - Error
      - NotFound
      - Bounced
      - Spam
      - Accepted
    ApiErrorResponse:
      type: object
      properties:
        Faults:
          type: array
          items:
            type: string
        Status:
          $ref: '#/components/schemas/StatusCode'
    EmailAddress:
      type: object
      properties:
        AllowEmailWithCustomFields:
          type: boolean
        OriginalEmail:
          type: string
        Name:
          type: string
        Email:
          type: string
    Base64File:
      type: object
      properties:
        Type:
          type: string
        Name:
          type: string
        Content:
          type: array
          items:
            type: integer
            format: int32
    BasicEmail:
      type: object
      properties:
        DbId:
          type: string
        AccountId:
          type: integer
          format: int32
        ClientId:
          type: integer
          format: int32
        From:
          $ref: '#/components/schemas/EmailAddress'
        ReplyTo:
          $ref: '#/components/schemas/EmailAddress'
        To:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        Cc:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        Bcc:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        Subject:
          type: string
        Html:
          type: string
        Text:
          type: string
        Images:
          type: array
          items:
            $ref: '#/components/schemas/Base64File'
        Attachments:
          type: array
          items:
            $ref: '#/components/schemas/Base64File'
        TrackOpens:
          type: boolean
        TrackClicks:
          type: boolean
        InlineCSS:
          type: boolean
        BasicGroup:
          type: string
        AddRecipientsToList:
          type: string
        ConsentToTrack:
          $ref: '#/components/schemas/ConsentToTrack'
    ApiBasicEmailCollectionResponse:
      type: object
      properties:
        Status:
          $ref: '#/components/schemas/StatusCode'
    Resend:
      type: object
      properties:
        DbId:
          type: string
        AccountId:
          type: integer
          format: int32
        ClientId:
          type: integer
          format: int32
        MessageId:
          type: string
          format: uuid
        Recipient:
          type: string
    BasicEmailResponse:
      type: object
      properties:
        MessageId:
          type: string
          format: uuid
        Recipient:
          type: string
        Status:
          $ref: '#/components/schemas/StatusCode'
    ApiTimelineEventCollectionResponse:
      type: object
      properties:
        Status:
          $ref: '#/components/schemas/StatusCode'
    EmailVariableCollection:
      type: object
      properties:
        Data:
          type: string
        VariableNames:
          type: array
          items:
            type: string
    SmartEmailSend:
      type: object
      properties:
        To:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        Cc:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        Bcc:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        EmailVariables:
          $ref: '#/components/schemas/EmailVariableCollection'
        DbId:
          type: string
        ClientId:
          type: integer
          format: int32
        SmartEmailId:
          type: string
          format: uuid
        Attachments:
          type: array
          items:
            $ref: '#/components/schemas/Base64File'
        AddRecipientsToList:
          type: boolean
        ConsentToTrack:
          $ref: '#/components/schemas/ConsentToTrack'
        SubscriberListId:
          type: string
    ApiResponse:
      type: object
      properties:
        Status:
          $ref: '#/components/schemas/StatusCode'
security:
- apiKey: []
- oauth2: []
paths:
  /{version}/accounts.{format}:
    post:
      tags:
      - Accounts
      operationId: accounts_create
      summary: 'Accounts: Create'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountProvisioningModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/AccountProvisioningModel'
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  dbid:
                    type: string
                  accountid:
                    type: integer
                    format: int32
                  clientid:
                    type: integer
                    format: int32
                  globalAccountId:
                    type: string
                  accessUrl:
                    type: string
                  username:
                    type: string
                  tempPassword:
                    type: string
            application/xml:
              schema:
                type: object
                properties:
                  dbid:
                    type: string
                  accountid:
                    type: integer
                    format: int32
                  clientid:
                    type: integer
                    format: int32
                  globalAccountId:
                    type: string
                  accessUrl:
                    type: string
                  username:
                    type: string
                  tempPassword:
                    type: string
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/admins.{format}:
    post:
      tags:
      - Admins
      operationId: admins_create
      summary: 'Admins: Create'
      description: POST admins.{format}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAdministrator'
          application/xml:
            schema:
              $ref: '#/components/schemas/AddAdministrator'
      x-required-scopes:
      - AdministerAccount
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddAdministratorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AddAdministratorResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
    put:
      tags:
      - Admins
      operationId: admins_update
      summary: 'Admins: Update'
      description: PUT /admins.{format}?email={email}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdministrator'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateAdministrator'
      x-required-scopes:
      - AdministerAccount
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: email
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAdministratorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/UpdateAdministratorResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
    get:
      tags:
      - Admins
      operationId: admins_get
      summary: 'Admins: Get'
      description: GET /admins.{format}?email={email}
      x-required-scopes:
      - AdministerAccount
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: email
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdministratorCollection'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdministratorCollection'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
    delete:
      tags:
      - Admins
      operationId: admins_delete
      summary: 'Admins: Delete'
      description: DELETE /admins.{format}?email={email}
      x-required-scopes:
      - AdministerAccount
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: email
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success (no content)
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/apikey.{format}:
    get:
      tags:
      - Util
      operationId: util_apikey
      summary: 'Util: ApiKey'
      description: 'GET: /apikey'
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        200:
          description: Success
          content:
[...]
