openapi: 3.0.3
info:
  title: Campaign Monitor API
  description: OpenAPI specification covering the Campaign Monitor RESTful API. Generated from the source of CampMon.RESTfulAPI and CampMon.RESTfulAPI.Transactional ASP.NET MVC projects. Routes are sourced from each project's Global.asax.cs; request bodies and response models are inferred from controller signatures and the service-layer methods they call.
  version: 3.4
servers:
- url: https://api.createsend.com/api
  description: Production
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: basic
      description: HTTP Basic auth with the account API key as the username and any non-empty string as the password.
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.createsend.com/oauth
          tokenUrl: https://api.createsend.com/oauth/token
          scopes: {}
  schemas:
    DetailedCampaignWithWebversion:
      type: object
      properties:
        WebVersionURL:
          type: string
        WebVersionTextURL:
          type: string
        Tags:
          type: array
          items:
            type: string
    PagedResultOfDetailedCampaignWithWebversion:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/DetailedCampaignWithWebversion'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    Result:
      type: object
      properties:
        Code:
          type: integer
          format: int64
        Message:
          type: string
    ClientDetail:
      type: object
      properties:
        ClientID:
          type: string
        CompanyName:
          type: string
        ContactName:
          type: string
        EmailAddress:
          type: string
        Country:
          type: string
        TimeZone:
          type: string
    ClientAccessSettingsForOutput:
      type: object
      properties:
        AccessLevel:
          type: integer
          format: int32
        Username:
          type: string
      x-data-contract-name: AccessSettings
    BillingOptionsForOutput:
      type: object
      properties:
        Currency:
          type: string
        ClientPays:
          type: boolean
    ClientDetailForOutput:
      type: object
      properties:
        ApiKey:
          type: string
        BasicDetails:
          $ref: '#/components/schemas/ClientDetail'
        AccessDetails:
          $ref: '#/components/schemas/ClientAccessSettingsForOutput'
        BillingDetails:
          $ref: '#/components/schemas/BillingOptionsForOutput'
        PendingBillingDetails:
          $ref: '#/components/schemas/BillingOptionsForOutput'
    DetailedScheduledCampaign:
      type: object
      properties:
        Tags:
          type: array
          items:
            type: string
        DateScheduled:
          type: string
        ScheduledTimeZone:
          type: string
    DetailedDraftCampaign:
      type: object
      properties:
        Tags:
          type: array
          items:
            type: string
        CampaignID:
          type: string
        Name:
          type: string
        Subject:
          type: string
        FromName:
          type: string
        FromEmail:
          type: string
        ReplyTo:
          type: string
        DateCreated:
          type: string
        PreviewURL:
          type: string
        PreviewTextURL:
          type: string
    List:
      type: object
      properties:
        ListID:
          type: string
        Name:
          type: string
    ListForEmail:
      type: object
      properties:
        ListID:
          type: string
        ListName:
          type: string
        SubscriberState:
          type: string
        DateSubscriberAdded:
          type: string
    TemplateCollection:
      type: object
      x-data-contract-name: Templates
    ListSegment:
      type: object
      properties:
        ListID:
          type: string
        SegmentID:
          type: string
        Title:
          type: string
    SubscriberState:
      type: string
      enum:
      - "Unknown"
      - "Active"
      - "Deleted"
      - "Unsubscribed"
      - "Bounced"
      - "Unconfirmed"
      - "MarkedAsSpam"
      - "Suppressed"
      - "Redacted"
      - "Unfinalised"
    ABTestVersion:
      type: string
      enum:
      - "None"
      - "A"
      - "B"
    SubscriberCustomField:
      type: object
      properties:
        Key:
          type: string
        Value:
          type: string
    Subscriber:
      type: object
      properties:
        Origin:
          type: string
        SuppressionReason:
          $ref: '#/components/schemas/SubscriberState'
        ListTitle:
          type: string
        ListDateCreated:
          type: string
          format: date-time
        EmailsSent:
          type: integer
          format: int32
        OpensCount:
          type: integer
          format: int32
        ClicksCount:
          type: integer
          format: int32
        BounceCount:
          type: integer
          format: int32
        ForwardsCount:
          type: integer
          format: int32
        ReceivedVersion:
          $ref: '#/components/schemas/ABTestVersion'
        CustomFields:
          type: array
          items:
            $ref: '#/components/schemas/SubscriberCustomField'
        MobileNumber:
          type: string
        FirstName:
          type: string
        NameOrEmail:
          type: string
        StateString:
          type: string
        SubscriberID:
          type: integer
          format: int64
        ListID:
          type: integer
          format: int32
        State:
          $ref: '#/components/schemas/SubscriberState'
        EmailAddress:
          type: string
        Name:
          type: string
        OriginalDate:
          type: string
          format: date-time
        Date:
          type: string
          format: date-time
        OriginalDateString:
          type: string
        LastDateString:
          type: string
    PagedResultOfSubscriber:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/Subscriber'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    SuppressionDetails:
      type: object
      properties:
        EmailAddresses:
          type: array
          items:
            type: string
      x-data-contract-name: SuppressionDetails
    BillingOptions:
      type: object
      properties:
        Currency:
          type: string
        ClientPays:
          type: boolean
        MarkupPercentage:
          type: integer
          format: int32
        CanPurchaseCredits:
          type: boolean
        MonthlyScheme:
          type: string
        MarkupOnDelivery:
          type: number
          format: double
        MarkupPerRecipient:
          type: number
          format: double
        MarkupOnDesignSpamTest:
          type: number
          format: double
    TransferCredits:
      type: object
      properties:
        Credits:
          type: integer
          format: int32
        CanUseMyCreditsWhenTheyRunOut:
          type: boolean
      x-data-contract-name: TransferCredits
    TransferCreditsResult:
      type: object
      properties:
        AccountCredits:
          type: integer
          format: int32
        ClientCredits:
          type: integer
          format: int32
      x-data-contract-name: TransferCreditsResult
    ClientTag:
      type: object
      properties:
        Name:
          type: string
        NumberOfCampaigns:
          type: integer
          format: int32
    Dkim:
      type: object
      properties:
        Validation:
          type: string
        Key:
          type: string
        Value:
          type: string
      x-data-contract-name: DKIM
    Dmarc:
      type: object
      properties:
        Validation:
          type: string
      x-data-contract-name: DMARC
    Spf:
      type: object
      properties:
        Validation:
          type: string
      x-data-contract-name: SPF
    DnsRecords:
      type: object
      properties:
        DKIM:
          $ref: '#/components/schemas/Dkim'
        DMARC:
          $ref: '#/components/schemas/Dmarc'
        SPF:
          $ref: '#/components/schemas/Spf'
      x-data-contract-name: DNSRecords
    SendingDomainModel:
      type: object
      properties:
        SendingDomain:
          type: string
        Selector:
          type: string
        PublicKey:
          type: string
        DNSRecords:
          $ref: '#/components/schemas/DnsRecords'
      x-data-contract-name: SendingDomainModel
    SendingDomainRequest:
      type: object
      properties:
        DestinationClientID:
          type: string
        SendingDomain:
          type: string
        Selector:
          type: string
        PublicKey:
          type: string
        PrivateKey:
          type: string
      x-data-contract-name: SendingDomainRequest
    AddPerson:
      type: object
      properties:
        Password:
          type: string
        EmailAddress:
          type: string
        Name:
          type: string
        AccessLevel:
          type: integer
          format: int32
        Status:
          type: string
        LastLoginUtc:
          type: string
        TwoFactorStatus:
          type: string
      x-data-contract-name: AddPerson
    AddPersonReponse:
      type: object
      properties:
        EmailAddress:
          type: string
      x-data-contract-name: AddPersonResponse
    UpdatePerson:
      type: object
      properties:
        Password:
          type: string
      x-data-contract-name: UpdatePerson
    UpdatePersonReponse:
      type: object
      properties:
        EmailAddress:
          type: string
      x-data-contract-name: UpdatePersonResponse
    Person:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
        AccessLevel:
          type: integer
          format: int32
        Status:
          type: string
        LastLoginUtc:
          type: string
        TwoFactorStatus:
          type: string
      x-data-contract-name: Person
    PrimaryContact:
      type: object
      properties:
        EmailAddress:
          type: string
      x-data-contract-name: PrimaryContact
    AddAdministrator:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
      x-data-contract-name: AddAdministrator
    AddAdministratorResponse:
      type: object
      properties:
        EmailAddress:
          type: string
      x-data-contract-name: AddAdministratorResponse
    UpdateAdministrator:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
      x-data-contract-name: UpdateAdministrator
    UpdateAdministratorResponse:
      type: object
      properties:
        EmailAddress:
          type: string
      x-data-contract-name: UpdateAdministratorResponse
    Administrator:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
        Status:
          type: string
      x-data-contract-name: Administrator
    IModelSerialisationService:
      type: object
    RESTfulApiResultOfSubscriber:
      type: object
      properties:
        SerialisationService:
          $ref: '#/components/schemas/IModelSerialisationService'
        Model:
          $ref: '#/components/schemas/Subscriber'
    ConsentToTrack:
      type: string
      enum:
      - "Unchanged"
      - "Yes"
      - "No"
    ClearableSubscriberCustomField:
      type: object
      properties:
        Key:
          type: string
        Value:
          type: string
        Clear:
          type: boolean
    ConsentToSendSms:
      type: string
      enum:
      - "Unchanged"
      - "Yes"
      - "No"
    SmsMarketingConsentPermission:
      type: string
      enum:
      - "Unknown"
      - "Granted"
      - "NotGranted"
    SubscriberForCreation:
      type: object
      properties:
        EmailAddress:
          type: string
        Name:
          type: string
        ConsentToTrack:
          $ref: '#/components/schemas/ConsentToTrack'
        MobileNumber:
          type: string
        Date:
          type: string
        State:
          type: string
        CustomFields:
          type: array
          items:
            $ref: '#/components/schemas/ClearableSubscriberCustomField'
        Resubscribe:
          type: boolean
        RestartSubscriptionBasedAutoresponders:
          type: boolean
        ConsentToSendSms:
          $ref: '#/components/schemas/ConsentToSendSms'
        SmsMarketingConsentPermission:
          $ref: '#/components/schemas/SmsMarketingConsentPermission'
      x-data-contract-name: Subscriber
    SubscribersForCreation:
      type: object
      properties:
        Resubscribe:
          type: boolean
        QueueSubscriptionBasedAutoResponders:
          type: boolean
        RestartSubscriptionBasedAutoresponders:
          type: boolean
        PreventWebhookUpdates:
          type: boolean
        Subscribers:
          type: array
          items:
            $ref: '#/components/schemas/SubscriberForCreation'
      x-data-contract-name: AddSubscribers
    ImportResult:
      type: object
      properties:
        EmailAddress:
          type: string
        Code:
          type: integer
          format: int64
        Message:
          type: string
      x-data-contract-name: ImportResult
    BulkImportResults:
      type: object
      properties:
        TotalUniqueEmailsSubmitted:
          type: integer
          format: int32
        TotalExistingSubscribers:
          type: integer
          format: int32
        TotalNewSubscribers:
          type: integer
          format: int32
        DuplicateEmailsInSubmission:
          type: array
          items:
            type: string
        FailureDetails:
          type: array
          items:
            $ref: '#/components/schemas/ImportResult'
      x-data-contract-name: BulkImportResults
    SubscriberAction:
      type: object
      properties:
        Event:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
        Detail:
          type: string
      x-data-contract-name: Action
    SubscriberHistoryItem:
      type: object
      properties:
        ID:
          type: string
        Type:
          type: string
        Name:
          type: string
        Actions:
          type: array
          items:
            $ref: '#/components/schemas/SubscriberAction'
        WebVersionURL:
          type: string
      x-data-contract-name: Email
    ListDetailWithUnsubscribeSetting:
      type: object
      properties:
        ListID:
          type: string
        Title:
          type: string
        UnsubscribePage:
          type: string
        ConfirmedOptIn:
          type: boolean
        ConfirmationSuccessPage:
          type: string
        UnsubscribeSetting:
          type: string
    ListDetailWithUnsubscribeSettingForUpdate:
      type: object
      properties:
        ListID:
          type: string
        Title:
          type: string
        UnsubscribePage:
          type: string
        ConfirmedOptIn:
          type: boolean
        ConfirmationSuccessPage:
          type: string
        UnsubscribeSetting:
          type: string
        AddUnsubscribesToSuppList:
          type: boolean
        ScrubActiveWithSuppList:
          type: boolean
    CustomFieldForInput:
      type: object
      properties:
        FieldName:
          type: string
        DataType:
          type: string
        Options:
          type: array
          items:
            type: string
        VisibleInPreferenceCenter:
          type: boolean
    CustomFieldForUpdate:
      type: object
      properties:
        FieldName:
          type: string
        VisibleInPreferenceCenter:
          type: boolean
    ListWebhookForInput:
      type: object
      properties:
        Events:
          type: array
          items:
            type: string
        Url:
          type: string
        PayloadFormat:
          type: string
      x-data-contract-name: ListWebhook
    ListStatistics:
      type: object
      properties:
        TotalActiveSubscribers:
          type: integer
          format: int32
        NewActiveSubscribersToday:
          type: integer
          format: int32
        NewActiveSubscribersYesterday:
          type: integer
          format: int32
        NewActiveSubscribersThisWeek:
          type: integer
          format: int32
        NewActiveSubscribersThisMonth:
          type: integer
          format: int32
        NewActiveSubscribersThisYear:
          type: integer
          format: int32
        TotalUnsubscribes:
          type: integer
          format: int32
        UnsubscribesToday:
          type: integer
          format: int32
        UnsubscribesYesterday:
          type: integer
          format: int32
        UnsubscribesThisWeek:
          type: integer
          format: int32
        UnsubscribesThisMonth:
          type: integer
          format: int32
        UnsubscribesThisYear:
          type: integer
          format: int32
        TotalDeleted:
          type: integer
          format: int32
        DeletedToday:
          type: integer
          format: int32
        DeletedYesterday:
          type: integer
          format: int32
        DeletedThisWeek:
          type: integer
          format: int32
        DeletedThisMonth:
          type: integer
          format: int32
        DeletedThisYear:
          type: integer
          format: int32
        TotalBounces:
          type: integer
          format: int32
        BouncesToday:
          type: integer
          format: int32
        BouncesYesterday:
          type: integer
          format: int32
        BouncesThisWeek:
          type: integer
          format: int32
        BouncesThisMonth:
          type: integer
          format: int32
        BouncesThisYear:
          type: integer
          format: int32
    SubscriberFieldDataType:
      type: string
      enum:
      - "Text"
      - "Number"
      - "MultiSelectOne"
      - "MultiSelectMany"
      - "Date"
      - "SpecificCampaign"
      - "OtherLists"
    ListInternalCustomField:
      type: object
      properties:
        FieldID:
          type: string
        FieldName:
          type: string
        Key:
          type: string
        DataType:
          $ref: '#/components/schemas/SubscriberFieldDataType'
        FieldOptions:
          type: array
          items:
            type: string
        VisibleInPreferenceCenter:
          type: boolean
    WebhookType:
      type: string
      enum:
      - "List"
    ListWebhookEvent:
      type: string
      enum:
      - "None"
      - "Subscribe"
      - "Deactivate"
      - "Update"
    WebhookFormat:
      type: string
      enum:
      - "None"
      - "Json"
      - "Xml"
    WebhookStatus:
      type: string
      enum:
      - "Inactive"
      - "Active"
    ListWebhook:
      type: object
      properties:
        ListID:
          type: integer
          format: int32
        ListDateAdded:
          type: string
          format: date-time
        Type:
          $ref: '#/components/schemas/WebhookType'
        WebhookID:
          type: integer
          format: int32
        EntityID:
          type: integer
          format: int32
        Url:
          type: string
        EntityDateCreated:
          type: string
          format: date-time
        DateCreated:
          type: string
          format: date-time
        Event:
          $ref: '#/components/schemas/ListWebhookEvent'
        Format:
          $ref: '#/components/schemas/WebhookFormat'
        Status:
          $ref: '#/components/schemas/WebhookStatus'
    FieldOptions:
      type: object
      properties:
        KeepExistingOptions:
          type: boolean
        Options:
          type: array
          items:
            type: string
      x-data-contract-name: FieldOptions
    NewSegmentRule:
      type: object
      properties:
        RuleType:
          type: string
        Clause:
          type: string
      x-data-contract-name: Rule
    RuleGroup:
      type: object
      properties:
        Rules:
          type: array
          items:
            $ref: '#/components/schemas/NewSegmentRule'
      x-data-contract-name: RuleGroup
    NewSegmentForUpdate:
      type: object
      properties:
        Title:
          type: string
        RuleGroups:
          type: array
          items:
            $ref: '#/components/schemas/RuleGroup'
    NewSegmentDetails:
      type: object
      properties:
        ActiveSubscribers:
          type: integer
          format: int32
        RuleGroups:
          type: array
          items:
            $ref: '#/components/schemas/RuleGroup'
        ListID:
          type: string
        SegmentID:
          type: string
        Title:
          type: string
    CampaignSummaryWithName:
      type: object
      properties:
        Name:
          type: string
        WebVersionURL:
          type: string
        WebVersionTextURL:
          type: string
        WorldviewURL:
          type: string
        Forwards:
          type: integer
          format: int32
        Likes:
          type: integer
          format: int32
        Mentions:
          type: integer
          format: int32
      x-data-contract-name: Summary
    CampaignForCreation:
      type: object
      properties:
        Subject:
          type: string
        Name:
          type: string
        FromName:
          type: string
        FromEmail:
          type: string
        ReplyTo:
          type: string
        HtmlUrl:
          type: string
        TextUrl:
          type: string
        ListIDs:
          type: array
          items:
            type: string
        SegmentIDs:
          type: array
          items:
            type: string
        InlineCss:
          type: boolean
    EditableField:
      type: object
      properties:
        Content:
          type: string
        Href:
          type: string
        Alt:
          type: string
      x-data-contract-name: EditableField
    Repeater:
      type: object
      properties:
        RepeaterNumber:
          type: integer
          format: int32
        Title:
          type: string
        TitleURL:
          type: string
        Description:
          type: string
        ImageFileName:
          type: string
        ImageURL:
          type: string
        SortOrder:
          type: integer
          format: int32
    CampaignContentForTemplate:
      type: object
      properties:
        Images:
          type: array
          items:
            $ref: '#/components/schemas/EditableField'
        Singlelines:
          type: array
          items:
            $ref: '#/components/schemas/EditableField'
        Multilines:
          type: array
          items:
            $ref: '#/components/schemas/EditableField'
        Repeaters:
          type: array
          items:
            $ref: '#/components/schemas/Repeater'
      x-data-contract-name: TemplateContent
    CampaignForCreationFromTemplate:
      type: object
      properties:
        Subject:
          type: string
        Name:
          type: string
        FromName:
          type: string
        FromEmail:
          type: string
        ReplyTo:
          type: string
        ListIDs:
          type: array
          items:
            type: string
        SegmentIDs:
          type: array
          items:
            type: string
        TemplateID:
          type: string
        TemplateContent:
          $ref: '#/components/schemas/CampaignContentForTemplate'
    SchedulingInfo:
      type: object
      properties:
        ConfirmationEmail:
          type: string
        SendDate:
          type: string
        InRecipientTimeZone:
          type: boolean
        SendTimeOptimised:
          type: boolean
      x-data-contract-name: Scheduling
    CampaignPreviewInfo:
      type: object
      properties:
        PreviewRecipients:
          type: array
          items:
            type: string
      x-data-contract-name: PreviewInfo
    TemplateType:
      type: string
      enum:
      - "UserProvided"
      - "TemplateBuilder"
      - "EmailBuilder"
    ScreenshotAvailability:
      type: string
      enum:
      - "NotAvailable"
      - "Available"
      - "RequiresGeneration"
      - "Generating"
    TemplateExternalDataSource:
      type: string
      enum:
      - "None"
      - "Generic"
      - "RSS"
      - "Json"
      - "Xml"
    ColorPickerModel:
      type: object
      properties:
        Id:
          type: string
        Label:
          type: string
        Color:
          type: string
    TemplateSidebarTableOfContentsModel:
      type: object
      properties:
        Enabled:
          type: boolean
        Color:
          $ref: '#/components/schemas/ColorPickerModel'
    TemplateSidebarExtraContentModel:
      type: object
      properties:
        Enabled:
          type: boolean
        SectionName:
          type: string
        SectionColor:
          $ref: '#/components/schemas/ColorPickerModel'
        Title:
          $ref: '#/components/schemas/ColorPickerModel'
        Paragraph:
          $ref: '#/components/schemas/ColorPickerModel'
        Links:
          $ref: '#/components/schemas/ColorPickerModel'
    TemplateSidebarElement:
      type: object
      properties:
        Label:
          type: string
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        Links:
          $ref: '#/components/schemas/ColorPickerModel'
        TableOfContents:
          $ref: '#/components/schemas/TemplateSidebarTableOfContentsModel'
        ExtraContent:
          $ref: '#/components/schemas/TemplateSidebarExtraContentModel'
    TemplateSidebarModel:
      type: object
      properties:
        SidebarElements:
          type: array
          items:
            $ref: '#/components/schemas/TemplateSidebarElement'
    TemplateLayoutType:
      type: object
      properties:
        Name:
          type: string
        Sidebar:
          $ref: '#/components/schemas/TemplateSidebarModel'
    TemplateLayouts:
      type: object
      properties:
        Simple:
          $ref: '#/components/schemas/TemplateLayoutType'
        All:
          type: array
          items:
            $ref: '#/components/schemas/TemplateLayoutType'
    TemplateBasicsModel:
      type: object
      properties:
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        BaseFont:
          type: string
        Language:
          type: string
        FacebookLikeButton:
          type: boolean
        FacebookLikeCustomUrl:
          type: boolean
        FacebookLikeUrl:
          type: string
        TwitterButton:
          type: boolean
        ForwardButton:
          type: boolean
    TemplateQuickLinkAreaModel:
      type: object
      properties:
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        Text:
          $ref: '#/components/schemas/ColorPickerModel'
        Links:
          $ref: '#/components/schemas/ColorPickerModel'
    ImageModel:
      type: object
      properties:
        Filename:
          type: string
        Location:
          type: string
        Id:
          type: string
        Width:
          type: integer
          format: int32
        Editable:
          type: boolean
    TemplateMainHeaderModel:
      type: object
      properties:
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        UseImage:
          type: boolean
        TitleText:
          type: string
        TitleColor:
          $ref: '#/components/schemas/ColorPickerModel'
        TitleTextAlign:
          type: string
        ImageAlign:
          type: string
        TitleTextFont:
          type: string
        TitleTextFontSize:
          type: integer
          format: int32
        TitleImage:
          $ref: '#/components/schemas/ImageModel'
        HasLink:
          type: boolean
        HeaderLinkUrl:
          type: string
    TemplateHeaderModel:
      type: object
      properties:
        QuickLinkArea:
          $ref: '#/components/schemas/TemplateQuickLinkAreaModel'
        MainHeader:
          $ref: '#/components/schemas/TemplateMainHeaderModel'
    DataRepeaterContentItem:
      type: object
      properties:
        fields:
          type: object
          additionalProperties:
            type: string
        layout:
          type: string
    DataRepeaterContent:
      type: object
      properties:
        feed:
          type: string
        entered:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/DataRepeaterContentItem'
    TemplateContentModel:
      type: object
      properties:
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        Title:
          $ref: '#/components/schemas/ColorPickerModel'
        Paragraph:
          $ref: '#/components/schemas/ColorPickerModel'
        Links:
          $ref: '#/components/schemas/ColorPickerModel'
        ArticleLength:
          type: string
        DRContent:
          $ref: '#/components/schemas/DataRepeaterContent'
    TemplateFooterModel:
      type: object
      properties:
        Background:
          $ref: '#/components/schemas/ColorPickerModel'
        Text:
          $ref: '#/components/schemas/ColorPickerModel'
        Links:
          $ref: '#/components/schemas/ColorPickerModel'
        Address:
          $ref: '#/components/schemas/ColorPickerModel'
        PermissionReminder:
          type: string
        StreetAddress:
          type: string
        StreetAddressLines:
          type: array
          items:
            type: string
        PermissionReminderLines:
          type: array
          items:
            type: string
    TemplateThemeColors:
      type: object
      properties:
        BasicsBackground:
          type: string
        HeaderQuickLinksBackground:
          type: string
        HeaderQuickLinksText:
          type: string
        HeaderQuickLinksLinks:
          type: string
        HeaderMainBackground:
          type: string
        HeaderMainTitle:
          type: string
        ContentBackground:
          type: string
        ContentTitle:
          type: string
        ContentParagraph:
          type: string
        ContentLinks:
          type: string
        SidebarBackground:
          type: string
        SidebarLinks:
          type: string
        SidebarTableOfContents:
          type: string
        SidebarExtraSection:
          type: string
        SidebarExtraTitle:
          type: string
        SidebarExtraParagraph:
          type: string
        FooterBackground:
          type: string
        FooterText:
          type: string
        FooterLinks:
          type: string
        FooterAddress:
          type: string
    TemplateThemeFonts:
      type: object
      properties:
        BaseFontFamily:
          type: string
        HeaderTitleFontFamily:
          type: string
        HeaderTitleTextFontSize:
          type: integer
          format: int32
        HeaderTitleTextAlign:
          type: string
    TemplateThemeModel:
      type: object
      properties:
        ThemeName:
          type: string
        Colors:
          $ref: '#/components/schemas/TemplateThemeColors'
        Fonts:
          $ref: '#/components/schemas/TemplateThemeFonts'
        SwatchColors:
          type: array
          items:
            type: string
    TemplateThemes:
      type: object
      properties:
        All:
          type: array
          items:
            $ref: '#/components/schemas/TemplateThemeModel'
    TemplateTranslationModel:
      type: object
      properties:
        Language:
          type: string
        LanguageDisplayName:
          type: string
        CultureCode:
          type: string
        WebVersion:
          type: string
        UpdatePreferences:
          type: string
        EditSubscription:
          type: string
        Unsubscribe:
          type: string
        UnsubscribeInstantly:
          type: string
        Like:
          type: string
        Tweet:
          type: string
        Forward:
          type: string
        Share:
          type: string
    TemplateTranslations:
      type: object
      properties:
        All:
          type: array
          items:
            $ref: '#/components/schemas/TemplateTranslationModel'
    FloatingText:
      type: object
      properties:
        IsPlaceholder:
          type: boolean
        IsDisabled:
          type: boolean
        Contents:
          type: string
    TemplateBuilderTemplateModel:
      type: object
      properties:
        TemplateName:
          type: string
        EnTemplateID:
          type: string
        Layouts:
          $ref: '#/components/schemas/TemplateLayouts'
        Layout:
          $ref: '#/components/schemas/TemplateLayoutType'
        Basics:
          $ref: '#/components/schemas/TemplateBasicsModel'
        Header:
          $ref: '#/components/schemas/TemplateHeaderModel'
        Content:
          $ref: '#/components/schemas/TemplateContentModel'
        Sidebar:
          $ref: '#/components/schemas/TemplateSidebarModel'
        Footer:
          $ref: '#/components/schemas/TemplateFooterModel'
        Themes:
          $ref: '#/components/schemas/TemplateThemes'
        Theme:
          $ref: '#/components/schemas/TemplateThemeModel'
        Translations:
          $ref: '#/components/schemas/TemplateTranslations'
        Translation:
          $ref: '#/components/schemas/TemplateTranslationModel'
        DisplaySaveDialog:
          type: boolean
        ExternalDataSources:
          $ref: '#/components/schemas/TemplateExternalDataSource'
        EditableText:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/FloatingText'
    Template:
      type: object
      properties:
        TemplateType:
          $ref: '#/components/schemas/TemplateType'
        DbID:
          type: string
        TemplateID:
          type: integer
          format: int32
        ClientID:
          type: integer
          format: int32
        ImageWidth:
          type: integer
          format: int32
        IsComplete:
          type: boolean
        TimesSent:
          type: integer
          format: int32
        TemplateName:
          type: string
        IsScreenshotGenerating:
          type: boolean
        ScreenshotStatus:
          $ref: '#/components/schemas/ScreenshotAvailability'
        ExternalDataSources:
          $ref: '#/components/schemas/TemplateExternalDataSource'
        DateCreated:
          type: string
          format: date-time
        LastUpdated:
          type: string
          format: date-time
        BuilderModelAsJson:
          type: string
        FromBuilder:
          type: boolean
        BaseTemplateID:
          type: string
        BaseDesignID:
          type: integer
          format: int32
        IsNewTemplate:
          type: boolean
        HasRestrictions:
          type: boolean
        BuilderModel:
          $ref: '#/components/schemas/TemplateBuilderTemplateModel'
          description: This is not compatible with Canvas!
    TemplateForInput:
      type: object
      properties:
        Name:
          type: string
        HtmlPageURL:
          type: string
        ZipFileURL:
          type: string
        ScreenshotURL:
          type: string
      x-data-contract-name: Template
    TemplateCopyRequest:
      type: object
      properties:
        DestinationClientID:
          type: string
        Name:
          type: string
      x-data-contract-name: TemplateCopy
    SessionOptions:
      type: object
      properties:
        Email:
          type: string
        Chrome:
          type: string
        Url:
          type: string
        IntegratorID:
          type: string
        ClientID:
          type: string
      x-data-contract-name: SessionOptions
    ExternalSessionResult:
      type: object
      properties:
        SessionUrl:
          type: string
    WorkflowCopyRequest:
      type: object
      properties:
        DestinationClientID:
          type: string
        DestinationListID:
          type: string
        Name:
          type: string
      x-data-contract-name: JourneyCopy
    WorkflowEmailRecipient:
      type: object
      properties:
        EmailAddress:
          type: string
        SentDate:
          type: string
    PagedResultOfWorkflowEmailRecipient:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowEmailRecipient'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    WorkflowEmailOpen:
      type: object
      properties:
        EmailAddress:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        City:
          type: string
        Region:
          type: string
        CountryCode:
          type: string
        CountryName:
          type: string
    PagedResultOfWorkflowEmailOpen:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowEmailOpen'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    WorkflowEmailClick:
      type: object
      properties:
        EmailAddress:
          type: string
        Date:
          type: string
        URL:
          type: string
        IPAddress:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        City:
          type: string
        Region:
          type: string
        CountryCode:
          type: string
        CountryName:
          type: string
    PagedResultOfWorkflowEmailClick:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowEmailClick'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    WorkflowEmailUnsubscribe:
      type: object
      properties:
        EmailAddress:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
    PagedResultOfWorkflowEmailUnsubscribe:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowEmailUnsubscribe'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    WorkflowEmailBounce:
      type: object
      properties:
        EmailAddress:
          type: string
        BounceType:
          type: string
        Date:
          type: string
        Reason:
          type: string
    PagedResultOfWorkflowEmailBounce:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowEmailBounce'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    CampaignRecipient:
      type: object
      properties:
        EmailAddress:
          type: string
        ListID:
          type: string
    PagedResultOfCampaignRecipient:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/CampaignRecipient'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    ExtendedSubscriberBounce:
      type: object
      properties:
        Date:
          type: string
        Reason:
          type: string
        EmailAddress:
          type: string
        ListID:
          type: string
        BounceType:
          type: string
    PagedResultOfExtendedSubscriberBounce:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/ExtendedSubscriberBounce'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    CampaignListsAndSegments:
      type: object
      properties:
        Lists:
          type: array
          items:
            $ref: '#/components/schemas/List'
        Segments:
          type: array
          items:
            $ref: '#/components/schemas/ListSegment'
      x-data-contract-name: ListsAndSegments
    IndividualSubscriberOpen:
      type: object
      properties:
        EmailAddress:
          type: string
        ListID:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        City:
          type: string
        Region:
          type: string
        CountryCode:
          type: string
        CountryName:
          type: string
    PagedResultOfIndividualSubscriberOpen:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IndividualSubscriberOpen'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    IndividualSubscriberClick:
      type: object
      properties:
        EmailAddress:
          type: string
        URL:
          type: string
        ListID:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
        Latitude:
          type: number
          format: double
        Longitude:
          type: number
          format: double
        City:
          type: string
        Region:
          type: string
        CountryCode:
          type: string
        CountryName:
          type: string
    PagedResultOfIndividualSubscriberClick:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IndividualSubscriberClick'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    EmailClient:
      type: object
      properties:
        Client:
          type: string
        Version:
          type: string
        Percentage:
          type: number
          format: double
        Subscribers:
          type: integer
          format: int32
      x-data-contract-name: EmailClient
    IndividualSubscriberUnsubscribe:
      type: object
      properties:
        EmailAddress:
          type: string
        ListID:
          type: string
        Date:
          type: string
        IPAddress:
          type: string
    PagedResultOfIndividualSubscriberUnsubscribe:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/IndividualSubscriberUnsubscribe'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    SpamComplaint:
      type: object
      properties:
        EmailAddress:
          type: string
        ListID:
          type: string
        Date:
          type: string
      x-data-contract-name: SpamComplaint
    PagedResultOfSpamComplaint:
      type: object
      properties:
        Results:
          type: array
          items:
            $ref: '#/components/schemas/SpamComplaint'
        ResultsOrderedBy:
          type: string
        OrderDirection:
          type: string
        PageNumber:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        RecordsOnThisPage:
          type: integer
          format: int32
        TotalNumberOfRecords:
          type: integer
          format: int32
        NumberOfPages:
          type: integer
          format: int32
    IDataSetCollection:
      type: object
    BillingDetails:
      type: object
      properties:
        Credits:
          type: integer
          format: int32
      x-data-contract-name: BillingDetails
    EmailAddress:
      type: object
      properties:
        AllowEmailWithCustomFields:
          type: boolean
        OriginalEmail:
          type: string
        Name:
          type: string
        Email:
          type: string
    Base64File:
      type: object
      properties:
        Type:
          type: string
        Name:
          type: string
        Content:
          type: array
          items:
            type: integer
            format: int32
    BasicEmail:
      type: object
      properties:
        ClientId:
          type: string
          description: Optional. Required for agencies using an account API key or OAuth so the request can specify which client to send on behalf of. Not necessary when using a client-specific API key — in that case the client is inferred from the key itself.
        From:
          $ref: '#/components/schemas/EmailAddress'
        ReplyTo:
          $ref: '#/components/schemas/EmailAddress'
        To:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        Cc:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        Bcc:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        Subject:
          type: string
        Html:
          type: string
        Text:
          type: string
        Images:
          type: array
          items:
            $ref: '#/components/schemas/Base64File'
        Attachments:
          type: array
          items:
            $ref: '#/components/schemas/Base64File'
        TrackOpens:
          type: boolean
        TrackClicks:
          type: boolean
        InlineCSS:
          type: boolean
        BasicGroup:
          type: string
        AddRecipientsToList:
          type: string
        ConsentToTrack:
          $ref: '#/components/schemas/ConsentToTrack'
    StatusCode:
      type: string
      enum:
      - "Received"
      - "Queued"
      - "Sent"
      - "Paused"
      - "Processed"
      - "RateLimited"
      - "BadRequest"
      - "Error"
      - "NotFound"
      - "Bounced"
      - "Spam"
      - "Accepted"
    BasicEmailResponse:
      type: object
      properties:
        MessageId:
          type: string
          format: uuid
        Recipient:
          type: string
        Status:
          $ref: '#/components/schemas/StatusCode'
    ApiErrorResponse:
      type: object
      properties:
        Faults:
          type: array
          items:
            type: string
        Status:
          $ref: '#/components/schemas/StatusCode'
    Resend:
      type: object
      properties:
        DbId:
          type: string
        AccountId:
          type: integer
          format: int32
        ClientId:
          type: integer
          format: int32
        MessageId:
          type: string
          format: uuid
        Recipient:
          type: string
    MessageContent:
      type: object
      properties:
        Html:
          type: string
        Text:
          type: string
    MessageMessageDetailsResponse:
      type: object
      properties:
        MessageID:
          type: string
          format: uuid
        Group:
          type: string
        SmartEmailID:
          type: string
          format: uuid
        SentAt:
          type: string
          format: date-time
        Status:
          type: string
        BounceType:
          type: string
        BounceCategory:
          type: string
        Recipient:
          type: string
        Message:
          type: object
          properties:
            From:
              type: string
            ReplyTo:
              type: string
            To:
              type: array
              items:
                type: string
            CC:
              type: array
              items:
                type: string
            BCC:
              type: string
            Subject:
              type: string
            Body:
              $ref: '#/components/schemas/MessageContent'
            Data:
              type: object
            Attachments:
              type: array
              items:
                type: object
                properties:
                  Name:
                    type: object
                  Type:
                    type: object
          additionalProperties: true
        TotalOpens:
          type: integer
          format: int64
        TotalClicks:
          type: integer
          format: int64
        Opens:
          type: object
        Clicks:
          type: object
      additionalProperties: true
    StatisticsIndexResponse:
      type: object
      properties:
        Query:
          type: object
          properties:
            SmartEmailID:
              type: string
              format: uuid
            Group:
              type: string
            From:
              type: string
              format: date-time
            To:
              type: string
              format: date-time
            TimeZone:
              type: object
        Sent:
          type: integer
          format: int64
        Bounces:
          type: integer
          format: int64
        Delivered:
          type: integer
          format: int64
        Opened:
          type: integer
          format: int64
        Clicked:
          type: integer
          format: int64
    SmartEmailDetailsResponse:
      type: object
      properties:
        SmartEmailID:
          type: string
          format: uuid
        Name:
          type: string
        CreatedAt:
          type: string
          format: date-time
        Status:
          type: string
        Properties:
          type: object
          properties:
            From:
              type: string
            ReplyTo:
              type: string
            Subject:
              type: string
            Content:
              type: object
              properties:
                Html:
                  type: string
                Text:
                  type: string
                EmailVariables:
                  type: array
                  items:
                    type: string
                InlineCss:
                  type: boolean
              additionalProperties: true
            TextPreviewUrl:
              type: string
            HtmlPreviewUrl:
              type: string
          additionalProperties: true
        AddRecipientsToList:
          type: string
    EmailVariableCollection:
      type: object
      properties:
        Data:
          type: string
        VariableNames:
          type: array
          items:
            type: string
    SmartEmailSend:
      type: object
      properties:
        To:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        Cc:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        Bcc:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        EmailVariables:
          $ref: '#/components/schemas/EmailVariableCollection'
        DbId:
          type: string
        ClientId:
          type: integer
          format: int32
        SmartEmailId:
          type: string
          format: uuid
        Attachments:
          type: array
          items:
            $ref: '#/components/schemas/Base64File'
        AddRecipientsToList:
          type: boolean
        ConsentToTrack:
          $ref: '#/components/schemas/ConsentToTrack'
        SubscriberListId:
          type: string
security:
- apiKey: []
- oauth2: []
tags:
- name: Admins
  description: Operations on the Admins resource in CampMon.RESTfulAPI.
- name: BasicEmail
  description: Operations on the BasicEmail resource in CampMon.RESTfulAPI.Transactional (mounted under /transactional).
- name: Campaigns
  description: Operations on the Campaigns resource in CampMon.RESTfulAPI.
- name: Clients
  description: Operations on the Clients resource in CampMon.RESTfulAPI.
- name: Lists
  description: Operations on the Lists resource in CampMon.RESTfulAPI.
- name: Message
  description: Operations on the Message resource in CampMon.RESTfulAPI.Transactional (mounted under /transactional).
- name: People
  description: Operations on the People resource in CampMon.RESTfulAPI.
- name: Segments
  description: Operations on the Segments resource in CampMon.RESTfulAPI.
- name: SmartEmail
  description: Operations on the SmartEmail resource in CampMon.RESTfulAPI.Transactional (mounted under /transactional).
- name: Statistics
  description: Operations on the Statistics resource in CampMon.RESTfulAPI.Transactional (mounted under /transactional).
- name: Subscribers
  description: Operations on the Subscribers resource in CampMon.RESTfulAPI.
- name: SubscribersConsentToTrack
  description: Operations on the SubscribersConsentToTrack resource in CampMon.RESTfulAPI.
- name: Templates
  description: Operations on the Templates resource in CampMon.RESTfulAPI.
- name: Util
  description: Operations on the Util resource in CampMon.RESTfulAPI.
- name: WorkflowEmails
  description: Operations on the WorkflowEmails resource in CampMon.RESTfulAPI.
- name: Workflows
  description: Operations on the Workflows resource in CampMon.RESTfulAPI.
paths:
  /{version}/admins.{format}:
    post:
      tags:
      - Admins
      operationId: createAdmin
      summary: 'Admins: Create'
      description: POST admins.{format}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAdministrator'
          application/xml:
            schema:
              $ref: '#/components/schemas/AddAdministrator'
      x-required-scopes:
      - AdministerAccount
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddAdministratorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AddAdministratorResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
    put:
      tags:
      - Admins
      operationId: updateAdmin
      summary: 'Admins: Update'
      description: PUT /admins.{format}?email={email}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdministrator'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateAdministrator'
      x-required-scopes:
      - AdministerAccount
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: email
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAdministratorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/UpdateAdministratorResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
    get:
      tags:
      - Admins
      operationId: getAdmin
      summary: 'Admins: Get'
      description: GET /admins.{format}?email={email}
      x-required-scopes:
      - AdministerAccount
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: email
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Administrator'
            application/xml:
              schema:
                $ref: '#/components/schemas/Administrator'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
    delete:
      tags:
      - Admins
      operationId: deleteAdmin
      summary: 'Admins: Delete'
      description: DELETE /admins.{format}?email={email}
      x-required-scopes:
      - AdministerAccount
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: email
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success (no content)
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/billingdetails.{format}:
    get:
      tags:
      - Util
      operationId: billingDetails
      summary: 'Util: BillingDetails'
      description: GET billingdetails.{format}
      parameters:
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/BillingDetails'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{clientId}.{format}:
    post:
      tags:
      - Campaigns
      operationId: createCampaign
      summary: 'Campaigns: Create'
      description: POST campaigns/{id}.{format}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignForCreation'
          application/xml:
            schema:
              $ref: '#/components/schemas/CampaignForCreation'
      x-required-scopes:
      - CreateCampaigns
      - Reports
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
    delete:
      tags:
      - Campaigns
      operationId: deleteCampaign
      summary: 'Campaigns: Delete'
      description: DELETE campaigns/{id}.{format}
      x-required-scopes:
      - CreateCampaigns
      - Reports
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        200:
          description: Success (no content)
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{id}/bounces.{format}:
    get:
      tags:
      - Campaigns
      operationId: getCampaignBounces
      summary: 'Campaigns: GetCampaignBounces'
      description: GET campaigns/{id}/bounces.{format}?date={YYYY-MM-DD HH:MM:SS}
      x-required-scopes:
      - Reports
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date-time
          example: 2024-01-01 00:00:00
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: orderField
        in: query
        required: false
        schema:
          type: string
      - name: orderDirection
        in: query
        required: false
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfExtendedSubscriberBounce'
            application/xml:
              schema:
                $ref: '#/components/schemas/PagedResultOfExtendedSubscriberBounce'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{id}/clicks.{format}:
    get:
      tags:
      - Campaigns
      operationId: getCampaignClicks
      summary: 'Campaigns: GetCampaignClicks'
      description: GET campaigns/{id}/clicks.{format}?date={YYYY-MM-DD HH:MM:SS}
      x-required-scopes:
      - Reports
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date-time
          example: 2024-01-01 00:00:00
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: orderField
        in: query
        required: false
        schema:
          type: string
      - name: orderDirection
        in: query
        required: false
        schema:
          type: string
      - name: toDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
          example: 2024-01-01 00:00:00
      - name: classification
        in: query
        required: false
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfIndividualSubscriberClick'
            application/xml:
              schema:
                $ref: '#/components/schemas/PagedResultOfIndividualSubscriberClick'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{id}/emailclientusage.{format}:
    get:
      tags:
      - Campaigns
      operationId: emailClientUsage
      summary: 'Campaigns: EmailClientUsage'
      description: GET campaigns/{id}/emailclientusage.{format}
      x-required-scopes:
      - Reports
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmailClient'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmailClient'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{id}/fromtemplate.{format}:
    post:
      tags:
      - Campaigns
      operationId: createFromTemplate
      summary: 'Campaigns: CreateFromTemplate'
      description: POST campaigns/{id}/fromtemplate.{format}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignForCreationFromTemplate'
          application/xml:
            schema:
              $ref: '#/components/schemas/CampaignForCreationFromTemplate'
      x-required-scopes:
      - CreateCampaigns
      - Reports
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        201:
          description: Success
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{id}/listsandsegments.{format}:
    get:
      tags:
      - Campaigns
      operationId: listsAndSegments
      summary: 'Campaigns: ListsAndSegments'
      description: GET campaigns/{id}/listsandsegments.{format}
      x-required-scopes:
      - Reports
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListsAndSegments'
            application/xml:
              schema:
                $ref: '#/components/schemas/CampaignListsAndSegments'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{id}/opens.{format}:
    get:
      tags:
      - Campaigns
      operationId: getCampaignOpens
      summary: 'Campaigns: GetCampaignOpens'
      description: GET campaigns/{id}/opens.{format}?date={YYYY-MM-DD HH:MM:SS}
      x-required-scopes:
      - Reports
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date-time
          example: 2024-01-01 00:00:00
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: orderField
        in: query
        required: false
        schema:
          type: string
      - name: orderDirection
        in: query
        required: false
        schema:
          type: string
      - name: toDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
          example: 2024-01-01 00:00:00
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfIndividualSubscriberOpen'
            application/xml:
              schema:
                $ref: '#/components/schemas/PagedResultOfIndividualSubscriberOpen'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{id}/recipients.{format}:
    get:
      tags:
      - Campaigns
      operationId: getCampaignRecipients
      summary: 'Campaigns: GetCampaignRecipients'
      description: GET campaigns/{id}/recipients.{format}
      x-required-scopes:
      - Reports
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: orderField
        in: query
        required: false
        schema:
          type: string
      - name: orderDirection
        in: query
        required: false
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfCampaignRecipient'
            application/xml:
              schema:
                $ref: '#/components/schemas/PagedResultOfCampaignRecipient'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{id}/send.{format}:
    post:
      tags:
      - Campaigns
      operationId: sendCampaign
      summary: 'Campaigns: Send'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulingInfo'
          application/xml:
            schema:
              $ref: '#/components/schemas/SchedulingInfo'
      x-required-scopes:
      - SendCampaigns
      - Reports
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        200:
          description: Success (no content)
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{id}/sendpreview.{format}:
    post:
      tags:
      - Campaigns
      operationId: sendPreview
      summary: 'Campaigns: SendPreview'
      description: POST campaigns/{id}/sendpreview.{format}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignPreviewInfo'
          application/xml:
            schema:
              $ref: '#/components/schemas/CampaignPreviewInfo'
      x-required-scopes:
      - CreateCampaigns
      - Reports
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      responses:
        200:
          description: Success (no content)
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
        429:
          description: Too many requests — request or concurrency rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
  /{version}/campaigns/{id}/spam.{format}:
    get:
      tags:
      - Campaigns
      operationId: getCampaignSpam
      summary: 'Campaigns: GetCampaignSpam'
      description: GET campaigns/{id}/spam.{format}?date={YYYY-MM-DD HH:MM:SS}
      x-required-scopes:
      - Reports
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: version
        in: path
        required: true
        schema:
          type: string
          enum:
          - v3.0
          - v3.1
          - v3.2
          - v3.3
          - v3.4
          default: v3.0
        description: API version segment.
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date-time
          example: 2024-01-01 00:00:00
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: orderField
        in: query
        required: false
        schema:
          type: string
      - name: orderDirection
        in: query
        required: false
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfSpamComplaint'
            application/xml:
[...]
